{{ 'section-about-product.css' | asset_url | stylesheet_tag }}
{%- style -%}
section.about-product {
background: {{ section.settings.color }};

}
{%- endstyle -%}

<section class="about-product {% if section.settings.page == 'services' %}services-about-product{% endif %} isolate section-{{ section.id }}-padding">
	<div class="about-product__main gush-page-width">
		<div class="about-product__heading-left">
			<h2 class="gush-font-h1">{{section.settings.heading}}</h2>
		</div>
		<div class="about-product__icon-with-text">
			<div class="about-product__icon">
				{% if section.settings.svg1 != blank %} 
					<img src="{{ section.settings.svg1 | asset_url }}" alt="" >
				{% else  %}
					{{ section.settings.image1 | image_url: width: 160 | image_tag:
						loading: 'lazy',
						widths: '200',
						alt: section.settings.image1.alt | escape
					}}
				{% endif %}
				<div class="about-product__icon-text">
					<h3 class="gush-font-h3">{{section.settings.heading1}}</h3>
					<p class="gush-font-p1">{{section.settings.text1}}</p>
				</div>
			</div>
			<div class="about-product__icon">
				{% if section.settings.svg2 != blank %} 
					<img src="{{ section.settings.svg2 | asset_url }}" alt="" >
				{% else  %}
					{{ section.settings.image2 | image_url: width: 160 | image_tag:
						loading: 'lazy',
						widths: '200',
						alt: section.settings.image2.alt | escape
					}}
				{% endif %}
				<div class="about-product__icon-text">
					<h3 class="gush-font-h3">{{section.settings.heading2}}</h3>
					<p class="gush-font-p1">{{section.settings.text2}}</p>
				</div>
			</div>
			<div class="about-product__icon">
				{% if section.settings.svg3 != blank %} 
					<img src="{{ section.settings.svg3 | asset_url }}" alt="" >
				{% else  %}
					{{ section.settings.image3 | image_url: width: 160 | image_tag:
						loading: 'lazy',
						widths: '200',
						alt: section.settings.image3.alt | escape
					}}
				{% endif %}
				<div class="about-product__icon-text">
					<h3 class="gush-font-h3">{{section.settings.heading3}}</h3>
					<p class="gush-font-p1">{{section.settings.text3}}</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
"name": "t:sections.about-product.name",
"class": "section section-about-product",
"settings": [
{
"type": "html",
"id": "heading",
"label": "t:sections.about-product.settings.heading.label"
},
{
"type": "color",
"id": "color",
"label": "Select A Color"
},
{
"type": "image_picker",
"id": "image1",
"label": "t:sections.about-product.settings.image.label"
},
{
"type":"text",
"id":"svg1",
"label":"SVG File name",
"info":"Use svg instead of png/jpg svg file must be in asset folder ( example.svg )"
},
{
"type": "text",
"id": "heading1",
"label": "t:sections.about-product.settings.heading1.label"
},
{
"type": "textarea",
"id": "text1",
"label": "t:sections.about-product.settings.text1.label"
},
{
"type": "image_picker",
"id": "image2",
"label": "t:sections.about-product.settings.image2.label"
},
{
"type":"text",
"id":"svg2",
"label":"SVG File name",
"info":"Use svg instead of png/jpg svg file must be in asset folder ( example.svg )"
},
{
"type": "text",
"id": "heading2",
"label": "t:sections.about-product.settings.heading2.label"
},
{
"type": "textarea",
"id": "text2",
"label": "t:sections.about-product.settings.text2.label"
},
{
"type": "image_picker",
"id": "image3",
"label": "t:sections.about-product.settings.image3.label"
},
{
"type":"text",
"id":"svg3",
"label":"SVG File name",
"info":"Use svg instead of png/jpg svg file must be in asset folder ( example.svg )"
},
{
"type": "text",
"id": "heading3",
"label": "t:sections.about-product.settings.heading3.label"
},
{
"type": "textarea",
"id": "text3",
"label": "t:sections.about-product.settings.text3.label"
},
{
"type": "range",
"id": "icon-margin",
"min": 0,
"max": 100,
"step": 2,
"unit": "px",
"default": 0,
"label": "Margin Of Icon Section.",
"info": "Please Select Margin Top of Icons"
},
{
  "type": "select",
  "id": "page",
  "label": "Page",
  "options": [
    {
      "value": "home",
      "label": "Home"
    },
    {
      "value": "services",
      "label": "Services"
    }
  ],
  "default": "home"
}
],
"presets": [
{
"name":"t:sections.about-product.presets.name"
}
]
}
{% endschema %}