<link rel="stylesheet" href="{{ 'section-faq-page.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'section-faq.js' | asset_url }}" type="module" defer="defer"></script>


{%- style -%}
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}

.footer {
margin-top: 0 !important;
}
}

{%- endstyle -%}

<div class="faq-bg">
	<div class="faq page-width section-{{ section.id }}-padding">
		<div class="rte faq__main">
			<div class="faq__heading">
				<h1 class="gush-font-h1">{{ section.settings.heading }}</h1>
			</div>
			<div class="faq__main-content">
				
				<div class="faq__categories">
					{% for block in section.blocks %}
					<div class="faq-category gush-font-teritary"
						data-category-id="faq-category-{{ block.settings.category | handleize }}">
						{{ block.settings.category }}
					</div>
					{% endfor %}
				</div>
					
				<div class="faq__contents">
					<div class="faq__types"> 
						{% for block in section.blocks %}
						<div class="faq-type gush-font-p1 faq-category-{{ block.settings.category | handleize }}"
							data-type-id="faq-{{ block.settings.category | append: '-' | append: block.settings.type  | handleize }}">
							{{ block.settings.type }}
						</div>
						{% endfor %}
					</div>
					<div class="faq-mobile-dropdown-container">
						<details class="faq_mobile_select_container category_selection_details">
						<summary><span class="active-category-mobile gush-font-teritary"></span> {% render 'drop-down-icon' %}</summary>
							<div class="mobile-categories-container">
								{% for block in section.blocks %}
									<div class="mobile-faq-category gush-font-teritary option"
									data-category-id="mobile-faq-category-{{ block.settings.category | handleize }}">
										{{ block.settings.category }}
									</div>
								{% endfor %}
							</div>
						</details>
						<details class="faq_mobile_select_container type_selection_details">
							<summary><span class="active-type-mobile gush-font-teritary"></span> {% render 'drop-down-icon' %}</summary>
							<div class="mobile-types-container">
								{% for block in section.blocks %}
									<div class="gush-font-teritary mobile-faq-type mobile-faq-category-{{ block.settings.category | handleize }} option"
										data-type-id="faq-{{ block.settings.category | append: '-' | append: block.settings.type  | handleize }}">
										{{ block.settings.type }}
									</div>
								{% endfor %}
							</div>
						</details>
					</div>
					<div class="faq__qas">
						{% for block in section.blocks %}
						<div class="faq-qa faq-{{ block.settings.category | append: '-' | append: block.settings.type  | handleize }}">
							<div class="question">
								<div class="q-ans__block" id="faq__block">
									<div class="faq_qus" id="faq_qus" data-content-id="faq_{{ forloop.index }}">
										<p class="faq_q gush-font-p2">{{ block.settings.title }}</p>
										<span>{% render 'icon-plus-new' %}{% render 'icon-minus-new' %}</span>
									</div>
									<div class="question__ans">
										<p class="faq_ans gush-font-p2" id="faq_{{ forloop.index }}">
											{{ block.settings.answer }}
										</p>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>


	{% schema %}
	{
	"name": "FAQ",
	"tag": "section",
	"settings": [
	{
	"type": "text",
	"id": "heading",
	"label": "Section Main Heading"
	},
	{
	"type": "range",
	"id": "padding_top",
	"min": 0,
	"max": 100,
	"step": 4,
	"unit": "px",
	"label": "t:sections.all.padding.padding_top",
	"default": 36
	},
	{
	"type": "range",
	"id": "padding_bottom",
	"min": 0,
	"max": 100,
	"step": 4,
	"unit": "px",
	"label": "t:sections.all.padding.padding_bottom",
	"default": 36
	}
	],
	"blocks":[
	{
	"name": "FAQ Content",
	"type": "faqContent",
	"settings": [
	{
	"type": "text",
	"id": "category",
	"label": "Category"
	},
	{
	"type": "text",
	"id": "type",
	"label": "Type"
	},
	{
		"type": "textarea",
		"id": "title",
		"label": "Question"
	},
	{
	"type": "html",
	"id": "answer",
	"label": "Answer: "
	}
	]
	}
	],
	"presets": [
	{
	"name": "FAQ"
	}
	]
	}
	{% endschema %}