{{ 'section-featured-about.css' | asset_url | stylesheet_tag }}

{%- style -%}
.{{ section.id }}-background {
  background: {{ section.settings.bg_color }} ;
}
  .section-{{ section.id }}-bg {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 750px){
    .section-{{ section.id }}-bg {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
{%- endstyle -%}

<div class="{{ section.id }}-background ">
  <section class="featured-about page-width isolate section-{{ section.id }}-bg">
    <div class="grid grid--gapless grid--1-col grid--2-col-tablet">
        <div class="grid__item featured-about_left">
            <div class="featured-about__heading"><h2 class="gush-font-h1">{{section.settings.heading}}</h2></div>
            <div class="featured-about__image">
              {% if section.settings.svg != blank %} 
                <img src="{{ section.settings.svg | asset_url }}" alt="">
              {% else  %}
                {{ section.settings.image | image_url: width: 500 | image_tag:
                  loading: 'lazy',
                  width: section.settings.image.width,
                  height: section.settings.image.height,
                  widths: '100,200,300,400,500'
                }}
              {% endif %}
              
            </div>
        </div>
        <div class="grid__item featured-about__content__wrapper">
            <div class="featured-about__content"><p class="gush-font-h3">{{section.settings.content}}</p></div>
            <div class="featured-about__buttons">
              {%- if section.settings.btn-text-1 != blank -%}
                <a class="cta-button cta-button__fuschia gush-font-p2" href="{{section.settings.link_first_btn}}"><span>{{section.settings.btn-text-1}}</span>{%render 'arrow-dotted'%}</a>
              {%- endif -%}
              {%- if section.settings.btn-text-2 != blank -%}
                <a class="cta-button gush-font-p2 cta-button__secondary" href="{{section.settings.link_second_btn}}">{{section.settings.btn-text-2}}{%render 'arrow-dotted-black'%}</a>
              {%- endif -%}
            </div>
        </div>
    </div>
</section>
</div>
{% schema %}
{
   "name": "t:sections.featured-about.name",
   "class": "section section-featured-about",
  "settings": [
  {
    "type": "text",
    "id": "heading",
    "label": "t:sections.featured-about.settings.heading.label"
  },
  {
    "type": "color",
    "id": "bg_color",
    "label": "Background color",
    "default": "#ffffff"
  },
  {
    "type": "image_picker",
    "id": "image",
    "label": "t:sections.featured-about.settings.image.label"
  },
  {
    "type": "text",
    "id": "svg",
    "label": "SVG File name",
    "info":"exm: logo.svg ( must have in the asset folder )"
  },
  {
    "type": "html",
    "id": "content",
    "label": "t:sections.featured-about.settings.content.label"
  },
  {
    "type": "text",
    "id": "btn-text-1",
    "label": "First Button"
  },
  {
    "type": "url",
    "id": "link_first_btn",
    "label": "First Button Link",
    "info": "Please add a link for first button"
  },
  {
    "type": "text",
    "id": "btn-text-2",
    "label": "Second Button"
  },
  {
    "type": "url",
    "id": "link_second_btn",
    "label": "Second Button Link",
    "info": "Please add a link for second button"
  },
  {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 200,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top",
    "default": 36
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 200,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_bottom",
    "default": 36
  }
  ],
  "presets": [
    {
      "name": "t:sections.featured-about.presets.name"
    }
  ]
}
{% endschema %}
