{{ 'section-group-buy-image-with-text.css' | asset_url | stylesheet_tag }}
<div class="page-width">
    <div class="group_image_with_text">
        <div class="left_image_section">{{ section.settings.image | image_url: width: 550 | image_tag }}</div>
        <div class="right_info_section">
            <h2 class="gush-font-h2">{{ section.settings.heading }}</h2>
            <h4 class="gush-font-h4">{{ section.settings.description }}</h4>
            <a>
                <span>{{ section.settings.btn_text | escape }}</span> {% render 'arrow-dotted' %}
            </a>
        </div>
    </div>
</div>

{% schema  %} 
{
    "name":"Image with text Group buy",
    "settings":[
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
        },
        {
            "type":"textarea",
            "id":"heading",
            "label":"Heading"
        },
        {
            "type":"textarea",
            "id":"description",
            "label":"Description"
        },
        {
            "type":"text",
            "id":"btn_text",
            "label":"Button text"
        }
    ]
}
{% endschema %}