{{ 'section-group-buy-image-with-text.css' | asset_url | stylesheet_tag }}
{%- if section.settings.page_name == "film" -%}
<style>
    .group_image_with_text{
        grid-template-columns: repeat(2, 1fr);
    }
    .right_info_section{
        order: 1;
        max-width: 40rem;
    }
    .left_image_section{
        order: 2;
    }
    .right_info_section h2{
        font-family: 'ABCCamera' !important;
        font-style: normal;
        font-weight: 400 !important;
        font-size: 64px !important;
        line-height: 100% !important; 
        letter-spacing: -0.04em !important;
        color: #000000 !important;
    }
    .right_info_section h4{
        font-family: 'GTAmerica' !important;
        font-style: normal;
        font-weight: 300 !important;
        font-size: 20px !important;
        line-height: 160% !important; 
        letter-spacing: -0.02em !important;
        color: #000000 !important;
    }
    @media screen and (max-width: 750px){
        .group_image_with_text{
            grid-template-columns: 1fr;
        }
        .right_info_section{
            order: 2;
            margin: 0 auto;
        }
        .left_image_section{
            order: 1;
        }
        .right_info_section h2{
            font-size: 32px !important;
        }
        .right_info_section h4{
            font-weight: 400 !important;
            font-size: 12px !important;
            line-height: 150% !important; 
        }

    }
</style>
{%- endif -%}
{% style  %} 
    .button-{{ section.blocks[0].id }}{
        color: {{ section.blocks[0].settings.btn_color }} !important;
        background: {{ section.blocks[0].settings.btn_bg_color }} !important;
    }
{% endstyle %}
<div class="page-width">
    <div class="group_image_with_text">
        <div class="left_image_section">{{ section.settings.image | image_url: width: 1000 | image_tag }}</div>
        <div class="right_info_section">
            <h2 class="gush-font-h2">{{ section.settings.heading }}</h2>
            <h4 class="gush-font-h4">{{ section.settings.description }}</h4>
            <a role="link" class="button-{{ section.blocks[0].id }}" aria-disabled="true" href="{{ section.blocks[0].settings.button_link }}">
                <span>{{ section.blocks[0].settings.btn_text | escape }}</span> {% render 'arrow-dotted' %}
            </a>
        </div>
    </div>
</div>

{% schema  %} 
{
    "name":"Image with text Group buy",
    "settings":[
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
        },
        {
            "type":"textarea",
            "id":"heading",
            "label":"Heading"
        },
        {
            "type":"textarea",
            "id":"description",
            "label":"Description"
        },
        {
            "type":"select",
            "id":"page_name",
            "label":"Page name",
            "options":[
                {
                    "value":"group_buy",
                    "label":"Group buy"
                },
                {
                    "value":"film",
                    "label":"Film"
                }
            ]
        }
    ],
    "blocks":[
        {
            "type": "button",
            "name": "Button",
            "limit": 1,
            "settings": [
                {
                "type": "text",
                "id": "btn_text",
                "label":"Button text"
                },
                {
                "type":"color",
                "id":"btn_color",
                "label":"Button color"
                },
                {
                "type":"color",
                "id":"btn_bg_color",
                "label":"Button background color"
                },
                {
                "type": "url",
                "id": "button_link",
                "label": "Button url"
                }
            ]
        }
    ],
    "presets": [
    {
        "name":"Group buy Image with text"
    }
]
}
{% endschema %}