<style>
	.lets-care {
		padding-top: 140px;
		padding-bottom: 140px;
		z-index: 2;
		position: relative;
	}
	.lets-care>.page-width{
		padding-left: 0 ;
		padding-right: 0 ;
	}
	.swiper-wrapper{
		width: 100%-50px;
	  }
	.lets-care h1{
		margin: 0 auto 5rem 14rem;
	}
	.lets-care .lets_care_title {
		color: #fff;
		font-size: 84px !important;
	}

	.lets-care .lets_care_title span{
		color: #FF5500;
		font-family: 'RecklessNeue' !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 100%  !important;
  letter-spacing: -0.04em;
	}


	.lets-care .tab-contents .tab-content.active {
		display: block !important;
	}

	.lets-care .tab-content {
		display: none;
		color: #302112;
	}

	.lets-care .tab-content ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.lets-care .tab-content .image {
		margin-right: 3rem;
	}

	.lets-care .tab-content li {
		border-top: 1px solid #796E62;
	}

	.lets-care .tab-content li:last-child {
		border-bottom: 1px solid #796E62;
	}

	.lets-care .tab-content li span {
		margin: 2rem 0;
	}

	.lets-care .tab-content img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		flex-shrink: 0;
	}

	.lets-care .tabs {
		display: flex;
		gap: 5rem;
		margin-bottom: 5rem;
		margin-top: 10rem;
	}

	.lets-care .tabs .tab {
		cursor: pointer;
	}

	.lets-care .tabs .tab.active {
		color: #302112;
	}

	.lets-care .lets_care-swiper img{
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	.lets_care_title {
		margin-bottom: 5rem;
	}
	.swiper-slide {
        width: auto;
        height: 480px;
        object-fit: cover;
      }
	  .swiper-slide .image{
		width: 100%;
		height: 480px;
	  }

	.swiper-slide img{
        max-width: 85vw;
        height: 480px !important;
        object-fit: cover;
		border-radius: 15px;
      }
	  .tab_container{
		max-width: 780px;
		margin: 0 auto;
	  }
	  .lets_care-swiper{
		margin: 0 2.5rem;
	  }
.mission-tab-list-content h4{
		margin: 38px 0 30px 0;
		font-family: 'GTAmerica';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 110%;
		letter-spacing: -0.03em;
		color: #2D2014;
	}
	.mission-tab-list-content p{
		font-family: 'GTAmerica';
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		line-height: 160%;
		letter-spacing: -0.02em;
		color: #302112;
	}
	.mission-tab-list-content a{
		font-family: 'GTAmerica';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 160%;
		letter-spacing: -0.02em;
		text-decoration-line: underline;
		color: #302112;
	}

	  @media screen and (max-width: 950px) {
		.tab_container{
		max-width: 680px;
		margin: 0 auto;
	  }
	  }
	  @media screen and (max-width: 750px) {
		.tab_container{
		max-width: 550px;
		margin: 0 auto;
	  }
	  }

	  
	  @media screen and (max-width: 600px) {
		.lets-care h1{
			margin: 0 auto 3rem 0;
		}
		.lets-care .lets_care_title{
		font-size: 48px !important;
		}
		.tab_container{
		padding: 0  ;
	  	}
		.lets-care .tabs {
		gap: 1.2rem;
		margin-bottom: 2rem;
		margin-top: 5rem;
	}
	.lets-care {
		padding: 5rem 0;
	}
	.lets_care-swiper{
		margin: 0;
	  }
	  .mission-tab-list-content h4{
		margin: 20px 0;
		font-size: 18px;
	}
	.mission-tab-list-content p{
		font-size: 12px;
		line-height: 150%;
	}
	.mission-tab-list-content a{
		font-weight: 500;
		font-size: 10px;
		line-height: 150%;
	}
	  }
	
</style>

{% assign slider_image_blocks = section.blocks | where: 'type', 'slider_image' %}
{% assign tab_content_blocks = section.blocks | where: 'type', 'tab_content' %}

<div class="lets-care">
	<div class="page-width">
	<h1 class="lets_care_title gush-font-h1">{{ section.settings.title }}</h1>
	
		{% if slider_image_blocks != empty %}
		<div class="swiper lets_care-swiper">
      <div class="swiper-wrapper">
				{% for block in slider_image_blocks %}
				<div class="swiper-slide" {{ block.shopify_attributes }}>
				<div class="image">
					<img src="{{ block.settings.image | image_url }}"/>
					<!-- {{ block.settings.image | image_url: width: 1280 | image_tag }} -->
				</div>
				</div>
		{% endfor %}
      </div>
    </div>
		<div>
		</div>
		{% endif %}

		{% if tab_content_blocks != empty %}
		<div class="tab_container">
			<div class="tabs">
				{% for block in tab_content_blocks %}
						<div class="tab {% if forloop.first -%}
						active
				 {%- endif -%}" data-tab-target="#{{block.settings.tab_title | replace: " ", "-"}}" {{ block.shopify_attributes }}>
							<div class="gush-font-h3">{{block.settings.tab_title}}</div>
						</div>
				{% endfor %}
				</div>
	
			<div class="tab-contents">
				
				{% for block in tab_content_blocks %}
						<div class="tab-content {% if forloop.first -%}
						active
				 {%- endif -%}" id="{{block.settings.tab_title | replace:" ", "-"}}" {{ block.shopify_attributes }}>
				 <ul class="gush-font-h3">
					{% if block.settings.text1 != blank %}
					 <li class="mission-tab-list-content">
					   <h4>{{block.settings.text1}}</h4>
					   <p>{{ block.settings.content1 }}</p>
				   </li>
					 {% endif %}
					 {% if block.settings.text2 != blank %}
					 <li class="mission-tab-list-content">
						<h4>{{block.settings.text2}}</h4>
						<p>{{ block.settings.content2 }}</p>
					</li>
					{% endif %}
					{% if block.settings.text3 != blank %}
					<li class="mission-tab-list-content">
						<h4>{{block.settings.text3}}</h4>
						<p>{{ block.settings.content3 }}</p>
					</li>
					{% endif %}
				</ul>
						</div>
				{% endfor %}
				</div>
		</div>
		{% endif %}
	</div>
</div>

 <!-- Swiper JS -->
 <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

{% javascript %}
const tabs = document.querySelectorAll('.lets-care .tab')
const tabContents = document.querySelectorAll('.lets-care .tab-content')

tabs.forEach(tab => {
  tab.addEventListener('click', () => {
	console.log(tab.dataset.tabTarget)
    const target = document.querySelector(tab.dataset.tabTarget)
    tabContents.forEach(tabContent => {
      tabContent.classList.remove('active')
    })
    tabs.forEach(tab => {
      tab.classList.remove('active')
    })
    tab.classList.add('active')
    target.classList.add('active')
  })
})

var swiper = new Swiper(".lets_care-swiper", {
		slidesPerView: "auto",
		centeredSlide:true,
        spaceBetween: 25,
});
	
{% endjavascript %}


	{% schema %}
	{
		"name": "Lets Care",
		"tag": "section",
		"settings": [
		{
		"type": "html",
		"id": "title",
		"label": "Title"
		}
		],
		"blocks": [
				{
					"type": "slider_image",
					"name": "Slider Image",
					"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					}
					]
				},
				{
					"type": "tab_content",
					"name": "Tab Content",
					"settings": [
					{
						"type": "text",
						"id": "tab_title",
						"label": "Tab Title"
					},
					
					{
						"type": "text",
						"id": "text1",
						"label": "text1"
						},
						
						{
							"type": "text",
							"id": "text2",
							"label": "text 2"
							},
							{
								"type": "text",
								"id": "text3",
								"label": "text 3"
								},
							{
								"type": "richtext",
								"id": "content1",
								"label": "Content 1"
							},
							{
								"type": "richtext",
								"id": "content2",
								"label": "Content 2"
							},
							{
								"type": "richtext",
								"id": "content3",
								"label": "Content 3"
							}
							
					]
				}
			],
		"presets": [
		{
		"name": "Lets Care"
		}
		]
		}
	{% endschema %}