<style>
	.lets-care {
		padding-top: 140px;
		padding-bottom: 140px;
		z-index: 2;
		position: relative;
		background-color: #B6AC9E;
	}

	.lets-care .lets_care_title {
		color: #fff;
		font-size: 84px !important;
	}

	.lets-care .lets_care_title span{
		color: #FF5500;
		font-family: 'RecklessNeue' !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 100%  !important;
  letter-spacing: -0.04em;
	}


	.lets-care .tab-contents .tab-content.active {
		display: block !important;
	}

	.lets-care .tab-content {
		display: none;
		color: #302112;
	}

	.lets-care .tab-content ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.lets-care .tab-content .image {
		margin-right: 3rem;
	}

	.lets-care .tab-content li {
		border-top: 1px solid #796E62;
	}

	.lets-care .tab-content li:last-child {
		border-bottom: 1px solid #796E62;
	}

	.lets-care .tab-content li span {
		list-style: none;
		display: flex;
		align-items: center;
		margin: 2rem 0;
	}

	.lets-care .tab-content img {
		width: 80px;
		height: 80px;
		aspect-ratio: 1/1;
		border-radius: 50%;
		flex-shrink: 0;
	}

	.lets-care .tabs {
		display: flex;
		gap: 3rem;
		margin-bottom: 3rem;
		margin-top: 5rem;
	}

	.lets-care .tabs .tab {
		cursor: pointer;
		color: #796E62;
	}

	.lets-care .tabs .tab.active {
		color: #302112;
	}
</style>

{% assign slider_image_blocks = section.blocks | where: 'type', 'slider_image' %}
{% assign tab_content_blocks = section.blocks | where: 'type', 'tab_content' %}

<div class="lets-care">
	<div class="page-width">
		<div class="lets_care_title gush-font-h1">{{ section.settings.title }}</div>
		{% if slider_image_blocks != empty %}
		<div>
		{% for block in slider_image_blocks %}
				<div class="slider_image-block" {{ block.shopify_attributes }}>
				<div class="image">
					{{ block.settings.image | image_url: width: 1280 | image_tag }}
				</div>
				</div>
		{% endfor %}
		</div>
		{% endif %}

		{% if tab_content_blocks != empty %}
		<div class="tabs">
			{% for block in tab_content_blocks %}
					<div class="tab {% if forloop.first -%}
					active
			 {%- endif -%}" data-tab-target="#{{block.settings.tab_title}}" {{ block.shopify_attributes }}>
						<div class="gush-font-h2">{{block.settings.tab_title}}</div>
					</div>
			{% endfor %}
			</div>

		<div class="tab-contents">
			{% for block in tab_content_blocks %}
					<div class="tab-content {% if forloop.first -%}
					active
			 {%- endif -%}" id="{{block.settings.tab_title}}" {{ block.shopify_attributes }}>
			 <ul class="gush-font-h3">
				{% if block.settings.image1 != nil and block.settings.text1 != nil %}
				 <li>
				   <span>
						<div class="image">
							{{ block.settings.image1 | image_url: width: 1280 | image_tag }}
						</div>
				   <p>{{block.settings.text1}}</p>
			     </span>
			   </li>
				 {% endif %}
				 {% if block.settings.image2 != nil and block.settings.text2 != nil %}
				 <li>
					<span>
						<div class="image">
							{{ block.settings.image2 | image_url: width: 1280 | image_tag }}
						</div>
					<p>{{block.settings.text2}}</p>
					</span>
				</li>
				{% endif %}
				{% if block.settings.image3 != nil and block.settings.text3 != nil %}
				<li>
					<span>
						<div class="image">
							{{ block.settings.image3 | image_url: width: 1280 | image_tag }}
						</div>
					<p>{{block.settings.text3}}</p>
					</span>
				</li>
				{% endif %}
			</ul>
					</div>
			{% endfor %}
			</div>
		{% endif %}
	</div>
</div>

{% javascript %}
const tabs = document.querySelectorAll('.lets-care .tab')
const tabContents = document.querySelectorAll('.lets-care .tab-content')

tabs.forEach(tab => {
  tab.addEventListener('click', () => {
    const target = document.querySelector(tab.dataset.tabTarget)
    tabContents.forEach(tabContent => {
      tabContent.classList.remove('active')
    })
    tabs.forEach(tab => {
      tab.classList.remove('active')
    })
    tab.classList.add('active')
    target.classList.add('active')
  })
})
	
{% endjavascript %}


	{% schema %}
	{
		"name": "Lets Care",
		"tag": "section",
		"settings": [
		{
		"type": "html",
		"id": "title",
		"label": "Title"
		}
		],
		"blocks": [
				{
					"type": "slider_image",
					"name": "Slider Image",
					"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					}
					]
				},
				{
					"type": "tab_content",
					"name": "Tab Content",
					"settings": [
					{
						"type": "text",
						"id": "tab_title",
						"label": "Tab Title"
					},
					
					{
						"type": "text",
						"id": "text1",
						"label": "text1"
						},
						
						{
							"type": "text",
							"id": "text2",
							"label": "text 2"
							},
							{
								"type": "text",
								"id": "text3",
								"label": "text 3"
								},
							{
								"type": "image_picker",
								"id": "image1",
								"label": "Image 1"
							},
							{
								"type": "image_picker",
								"id": "image2",
								"label": "Image 2"
							},
							{
								"type": "image_picker",
								"id": "image3",
								"label": "Image 3"
							}
							
					]
				}
			],
		"presets": [
		{
		"name": "Lets Care"
		}
		]
		}
	{% endschema %}