{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
@media screen and (min-width: 750px) {
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}
}
{%- endstyle -%} 

	{% assign featuredArticles = false %}
	{% for link in linklists.blogs.links %}
		{% assign blog = link.object %}
		{% if featuredArticles %}
			{% assign featuredArticles = featuredArticles | concat:blog.articles %}
		{% else %}
			{% assign featuredArticles = blog.articles %}
		{% endif %}
	{% endfor %}
	{% if featuredArticles %}
	{% assign featuredArticles = featuredArticles | sort:'published_at' | reverse %}
	{% for article in featuredArticles %}
		{%- comment -%} <p><b>{{ article.title }}: </b><br>{{ article.published_at }}</p> {%- endcomment -%}
	{% endfor %}
	{% endif %}

<div class="main-blog page-width section-{{ section.id }}-padding">
	<div class="title_search">
	<h1 class="gush-font-h1">{{ blog.title | escape }}</h1>
	<form method="get" action="/search">
		<input type="hidden" name="type" value="article" />
		<input type="text" name="q" placeholder="Search" class="gush-font-teritary" />
		<button type="submit">
			 {% render 'icon-search' %}
	</button>
	</form>
</div>

	<div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
		


		{%- for article in featuredArticles limit: 1 -%}
		<div class="blog-articles__article article">
			{%- render 'main-article-card',
			article: article,
			media_height: section.settings.image_height,
			media_aspect_ratio: article.image.aspect_ratio,
			show_image: section.settings.show_image,
			show_date: section.settings.show_date,
			show_author: section.settings.show_author,
			show_excerpt: true
			-%}
		</div>
		{%- endfor -%}
	</div>

	
</div>

{% schema %}
{
"name": "t:sections.main-blog.name",
"tag": "section",
"class": "section",
"settings": [
{
"type": "header",
"content": "t:sections.main-blog.settings.header.content"
},
{
"type": "select",
"id": "layout",
"options": [
{
"value": "grid",
"label": "t:sections.main-blog.settings.layout.options__1.label"
},
{
"value": "collage",
"label": "t:sections.main-blog.settings.layout.options__2.label"
}
],
"default": "collage",
"label": "t:sections.main-blog.settings.layout.label",
"info": "t:sections.main-blog.settings.layout.info"
},
{
"type": "checkbox",
"id": "show_image",
"default": true,
"label": "t:sections.main-blog.settings.show_image.label"
},
{
"type": "select",
"id": "image_height",
"options": [
{
"value": "adapt",
"label": "t:sections.main-blog.settings.image_height.options__1.label"
},
{
"value": "small",
"label": "t:sections.main-blog.settings.image_height.options__2.label"
},
{
"value": "medium",
"label": "t:sections.main-blog.settings.image_height.options__3.label"
},
{
"value": "large",
"label": "t:sections.main-blog.settings.image_height.options__4.label"
}
],
"default": "medium",
"label": "t:sections.main-blog.settings.image_height.label",
"info": "t:sections.main-blog.settings.image_height.info"
},
{
"type": "checkbox",
"id": "show_date",
"default": true,
"label": "t:sections.main-blog.settings.show_date.label"
},
{
"type": "checkbox",
"id": "show_author",
"default": false,
"label": "t:sections.main-blog.settings.show_author.label"
},
{
"type": "paragraph",
"content": "t:sections.main-blog.settings.paragraph.content"
},
{
"type": "header",
"content": "t:sections.all.padding.section_padding_heading"
},
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 100,
"step": 1,
"unit": "px",
"label": "t:sections.all.padding.padding_top",
"default": 50
},
{
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 100,
"step": 1,
"unit": "px",
"label": "t:sections.all.padding.padding_bottom",
"default": 70
}
]
}
{% endschema %}