{% assign iteration = 0 %}
{% assign selected_vibe = '' %}

{{ 'paint-details-slider.css' | asset_url | stylesheet_tag }}
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
<style>

  /* ===============================================
  // Reveal module
  // =============================================== */

  .reveal .hidden {
    display: block !important;
    visibility: visible !important;
  }

  .product:hover .reveal img {
    opacity: 1;
  }

  .reveal {
    position: relative;
  }

  .reveal .hidden {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 43px;
    width: 34%;
    height: 69%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }

  .reveal:hover .hidden {
    z-index: 0;
    opacity: 1;
  }

  .reveal .caption {
    position: absolute;
    top: 0;
    display: table;
    width: 100%;
    height: 100%;
    background-color: white;
    /* fallback for IE8 */
    background-color: rgba(255, 255, 255, 0.7);
    font: 13px/1.6 sans-serif;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    text-align: center;
    text-rendering: optimizeLegibility;
  }

  .reveal .hidden .caption .centered {
    display: table-cell;
    vertical-align: middle;
  }

  .banner .banner__content {
    display: none;
  }

  @media (min-width: 480px) and (max-width: 979px) {
    .reveal .caption {
      font-size: 11px;
    }
  }
</style>
<style>
    .collection_button {
      border-radius: 1px;
  border: 1px solid var(--Secondary-6, #302112);
      display: inline-flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
    }
</style>
<ooh-campaign-component>
<form id="vibe-selection">
<div class="vibe_carousel_selection">
 

      <div class="swiper-wrapper-1">
         <div class="vibe1_background_img">
            <h2 class="gush-font-h1">Select your vibe</h2>
           <img class="vibe_collection_featured_img" src="{{ 'earthy.png' | asset_url }}" />
           <a class="collection_button">Earthy</a>
         </div>

          <div class="vibe2_background_img">
             <h2 class="gush-font-h1">Select your vibe</h2>
            <img class="vibe_collection_featured_img" src="{{ 'earthy.png' | asset_url }}" />
            <a class="collection_button">Organic</a>
          </div>

          <div class="vibe3_background_img">
             <h2 class="gush-font-h1">Select your vibe</h2>
            <img class="vibe_collection_featured_img" src="{{ 'earthy.png' | asset_url }}" />
            <a class="collection_button">Leapfrog</a>
          </div>
  </div>
</div>
<!-- OOH product filters starts from here -->

<div id="ooh_product_filter_section">
  <div class="filtered_product_section">
    <h2 class="gush-font-h1" style="font-size:42px">Take your pick.</h2>
    <h3 style="font-size:16px;">These pocket-sized 20ml paint samples are the best way to experience colours in person.</h3>

<div class="filter_drop_down">
          <div class="collection-filter">
        
          <select id="collection-filter-select">
            {% for collection in collections %}
            {% if collection.handle contains 'vibe' %}
            {% assign iteration = iteration | plus: 1 %}
            {% if iteration == 1 %}
            {% assign selected_vibe = collection.handle %}
            {% endif %}
            <option value="{{ collection.handle }}" {% if iteration==1 %} selected {% endif %}>
              Showing {{ collection.title }} vibe pallet
            </option>
            
            {% endif %}
            {% endfor %}
          </select>
        </div>
</div>

  <div id="products_3_grid_slick">
    {% assign collection = collections['vibe-1'] %}
    <div class="vibe-1 {% unless collection.handle == selected_vibe %}hidden{% endunless %} ooh_filtered_products"
      data-vibe="{{ collection.handle }}">
      {%- for product in collection.products -%}
        {%- liquid
          assign current_variant = blank
    
          for variant in product.variants
            if variant.option1 == 'Gush Cair' and variant.option2 == 'Paint Sample (20ml)'
              assign current_variant = variant
            endif
          endfor
        -%}
        
      {% if current_variant != blank %}
      <div class="product-item">
        <input type="checkbox" id="vibe_1_{{ product.title }}" class="vibe_input" name="vibe" value="{{ current_variant.id }}" data-title="{{ product.title }}">
        <label for="vibe_1_{{ product.title }}">
          <div class="reveal">
            {% for image in product.images limit: 1 offset: 1 %}
            <img class="grid-view-item__image" src="{{ image | img_url:" 200x200" }}">
            {% endfor %}
  
            <img class="hidden" src="{{ 'paint_pack_sacket.png' | asset_url }}">
          </div>
        </label>
  {% assign productTitle = product.title | split: "/" %}
        <h4 class="filtered_product_title">{{ product.title }}</h4>
        <h5 class="filtered_varient_title">Paint Pack (20 ml)</h5>
        <!-- Add code to display product image, price, etc. -->
      </div>
      {% endif %}
      {%- endfor -%}
    </div>

    {% assign collection = collections['vibe-2'] %}
    <div class="vibe-2 {% unless collection.handle == selected_vibe %}hidden{% endunless %} ooh_filtered_products"
      data-vibe="{{ collection.handle }}">
      {%- for product in collection.products -%}
      {%- liquid
      assign current_variant = blank

      for variant in product.variants
      if variant.option1 == 'Gush Cair' and variant.option2 == 'Paint Sample (20ml)'
      assign current_variant = variant
      endif
      endfor
      -%}
      {% if current_variant != blank %}
      <div class="product-item">
        <input type="checkbox" id="vibe_2_{{ product.title }}" class="vibe_input" name="vibe" value="{{ current_variant.id }}" data-title="{{ product.title }}">
        <label for="vibe_2_{{ product.title }}">
          <div class="reveal">
            {% for image in product.images limit: 1 offset: 1 %}
            <img class="grid-view-item__image" src="{{ image | img_url:" 200x200" }}">
            {% endfor %}
  
            <img class="hidden" src="{{ 'paint_pack_sacket.png' | asset_url }}">
          </div>
        </label>
        <h4 class="filtered_product_title">{{ product.title }}</h4>
        <!-- <h5 class="filtered_varient_title">{{ current_variant.title | replace: "Gush Cair / ", "" }}</h5> -->
        <h5 class="filtered_varient_title">Paint Pack (20 ml)</h5>
        <!-- Add code to display product image, price, etc. -->
      </div>
      {% endif %}
      {%- endfor -%}
    </div>

    {% assign collection = collections['vibe-3'] %}
    <div class="vibe-3 {% unless collection.handle == selected_vibe %}hidden{% endunless %} ooh_filtered_products"
      data-vibe="{{ collection.handle }}">
      {%- for product in collection.products -%}
      {%- liquid
      assign current_variant = blank

      for variant in product.variants
      if variant.option1 == 'Gush Cair' and variant.option2 == 'Paint Sample (20ml)'
      assign current_variant = variant
      endif
      endfor
      -%}
      {% if current_variant != blank %}
      <div class="product-item">
        <input type="checkbox" id="vibe_3_{{ product.title }}" class="vibe_input" name="vibe" value="{{ current_variant.id }}" data-title="{{ product.title }}">
        <label for="vibe_3_{{ product.title }}">
          <div class="reveal">
            {% for image in product.images limit: 1 offset: 1 %}
            <img class="grid-view-item__image" src="{{ image | img_url:" 200x200" }}">
            {% endfor %}
  
            <img class="hidden" src="{{ 'paint_pack_sacket.png' | asset_url }}">
          </div>
        </label>

         <h4 class="filtered_product_title">{{ product.title }}</h4>
        <!-- <h5 class="filtered_varient_title">{{ current_variant.title | replace: "Gush Cair / ", "" }}</h5> -->
          <h5 class="filtered_varient_title">Paint Pack (20 ml)</h5>
        <!-- Add code to display product image, price, etc. -->
      </div>
      {% endif %}
      {%- endfor -%}
    </div>

      <div class="btn-wrap">
	<button class="prev-btn">Previous</button>
	<button class="next-btn">Next</button>
</div>
  </div>
    
  </div>
</div>


  <!-- OOH Whats include in package starts from here -->

<div id="ooh_package_you_get_section">
  <h3 class="gush-ooh_main_heading">Your bundle includes:</h3>
  <h4 class="gush_ooh_sub_heading">3 Paint samples, Paint sponges, Paint palettes and Swatch cards</h4>
  <div class="ooh_package_banner"><p></p></div>
</div> 


  <div class="survey_plus_order"> 
<!-- OOH survey starts from here -->
<div id="ooh_survey_section">
  <div class="ooh_survey_container">
    <div class="question1_class">
         <h3 class="survey_question">What are you painting ?</h3>
        <label><input type="radio" name="question1" value="One Room">One Room</label>
        <label><input type="radio" name="question1" value="Multiple Room">Multiple Room</label>
    </div>
      <div class="question2_class">
       <h3 class="survey_question">How soon do you want to start painting ?</h3>
       <label><input type="radio" name="question2" value="Within 1-4 Weeks">Within 1-4 Weeks</label>
       <label><input type="radio" name="question2" value="Within 1-3 Months">Within 1-3 Months</label>
       <label><input type="radio" name="question2" value="More then 3 Months">More then 3 Months</label>
      </div>
  <!-- Add more radio buttons as needed --><br>
  </div>
</div>

<!-- OOH Order Deatils starts from here -->
  <div id="OOH_order_details_section">
  <h2 class="gush-font-h1" style="font-size:42px">Order Details</h2>



    <div class="order_details_data_row">
  <div class="order_details_data_column_color">
    <p>Column 1</p>
    <p>Some text..</p>
  </div>
  <div class="order_details_data_column2">
    <p style="font-size:16px">Paint Samples <span>x3</span></p>
    <div id="selected_colors">color: <span class="colors"></span></div>
     <div>Size: <span>Paint Pack (20 ml)</span></div>
  </div>
  <div class="order_details_data_column">
    <p>$0</p>
  </div>
</div>
</div>

 <button type="submit">Submit</button>
    </div>
</form>
</ooh-campaign-component>
<script>
  class OOHCampaignComponent extends HTMLElement {
    constructor() {
      super()
      
      this.form = this.querySelector('#vibe-selection')
      this.filter = this.form.querySelector('select#collection-filter-select')
      
      this.selectedColors = []
      this.colorInfoEl = this.querySelector('#selected_colors span')

      this.selectedVariants = []
      
      this.q1 = ""
      this.q2 = ""
    }

    connectedCallback() {
      this.form.addEventListener('change', this.handleChange.bind(this))
      this.filter.addEventListener('change', this.handleFilterChange.bind(this))
      this.form.addEventListener('submit', this.handleSubmit.bind(this))
    }

    handleSubmit(e) {
      e.preventDefault()

      const note = `
        What are you painting: ${this.q1}.
        How soon do you want to start painting: ${this.q2}
      `
      
      const data = {
        items: [],
        note: note
      }

      this.selectedVariants.forEach(variantId => {
        data.items.push({
          id: variantId,
          quantity: 1
        })
      })

      const options = {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data)
      };

      fetch("/cart/add.js", options)
      .then(res => res.json())
      .then(data => {
        console.log(data)
        window.location.href = '/checkout'
      })
      .catch(err => console.log(err))
    }

    handleFilterChange(e) {
      e.preventDefault()
      const el = e.currentTarget

      const collections = this.querySelectorAll('[data-vibe]')
      const vibe = el.value

      collections.forEach(item => {
        const _vibe = item.dataset.vibe
        if (vibe === _vibe) {
          if (item.classList.contains('hidden')) item.classList.remove('hidden')
        }
        else {
          if (!item.classList.contains('hidden')) item.classList.add('hidden')
        }
      })
    }

    handleChange(e) {
      const el = e.target
      const formData = new FormData(this.form)
      if(el.getAttribute('name') == 'vibe') {
        
        const value = el.dataset.title
        const vibes = []
        
        if(el.checked) {
          if(!this.selectedColors.includes(value)) this.selectedColors.push(value)
        }
        else {
          const newArray = this.selectedColors.filter(item => item !== value);
          this.selectedColors = newArray
        }

        formData.getAll('vibe').forEach(vibe => {
          vibes.push(parseInt(vibe))
        })
        this.selectedVariants = vibes

        this.disabledVibeSelection(3, this.selectedVariants.length)
        

        this.colorInfoEl.innerHTML = this.selectedColors.join(', ')
        console.log(this.selectedVariants)
      }

      if(el.getAttribute('name') == 'question1') {
        this.q1 = el.value
      }

      if(el.getAttribute('name') == 'question2') {
        this.q2 = el.value
      }
    }

    disabledVibeSelection(max, current) {
      const vibesInput = this.querySelectorAll(`.vibe_input`)
      if(max == current) {
        vibesInput.forEach(item => {
          if(!item.checked) item.disabled = true
        })
      }
      else {
        vibesInput.forEach(item => {
          item.disabled = false
        })
      }
    }
  }
  customElements.define('ooh-campaign-component', OOHCampaignComponent)
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
        jQuery(document).ready(function($){
        $('.swiper-wrapper-1').slick({
    dots: true,
    arrow: true,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    adaptiveHeight: true
  });
      });
</script>

<script type="text/javascript">
        jQuery(document).ready(function($){
        $('').slick({
  slidesToShow: 6,
  slidesToScroll: 6
  });
      });
</script>
  
{% schema %}
 {
    "name":"OOH Filter Products",
    "settings":[
        {
            "type":"text",
            "id":"heading",
            "label":"Heading"
        }
    ],
    "blocks":[
        {
            "type":"slide",
            "name":"Slide",
            "settings":[
                {
                    "type":"image_picker",
                    "id":"img",
                    "label":"Image"
                },
              {
"id" : "vibe_collection",
"type" : "collection",
"label" : "collection"
}
            ]
        }
    ],
    "presets":[
        {
            "name":"OOH Filter Products"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
