{% assign iteration = 0 %}
{% assign selected_vibe = "" %}


<div class="page-width">
  
  
    {%- for product in collection.products -%}
      {%- liquid
         assign current_variant = blank
    
         for variant in product.variants
           if variant.option1 == 'Gush Cair' and variant.option2 == 'Paint Pack (20ml)'
             assign current_variant = variant
           endif
         endfor
      -%}
      {% if current_variant != blank %}
        <div class="product-item">
          {{ current_variant.featured_media | image_url: width: 100 | image_tag }}
          <h2>{{ product.title }}-{{ current_variant.title }}-{{ current_variant.id }}</h2>
          <!-- Add code to display product image, price, etc. -->
        </div>
      {% endif %}
    {%- endfor -%}
  
  

 
    {%- for product in collection.products -%}
      {%- liquid
         assign current_variant = blank
    
         for variant in product.variants
           if variant.option1 == 'Gush Cair' and variant.option2 == 'Paint Pack (20ml)'
             assign current_variant = variant
           endif
         endfor
      -%}
      {% if current_variant != blank %}
        <div class="product-item">
          {{ current_variant.featured_media | image_url: width: 100 | image_tag }}
          <h2>{{ product.title }}-{{ current_variant.title }}-{{ current_variant.id }}</h2>
          <!-- Add code to display product image, price, etc. -->
        </div>
      {% endif %}
    {%- endfor -%}

  

    {%- for product in collection.products -%}
      {%- liquid
         assign current_variant = blank
    
         for variant in product.variants
           if variant.option1 == 'Gush Cair' and variant.option2 == 'Paint Pack (20ml)'
             assign current_variant = variant
           endif
         endfor
      -%}
      {% if current_variant != blank %}
        <div class="product-item">
          {{ current_variant.featured_media | image_url: width: 100 | image_tag }}
          <h2>{{ product.title }}-{{ current_variant.title }}-{{ current_variant.id }}</h2>
          <!-- Add code to display product image, price, etc. -->
        </div>
      {% endif %}
    {%- endfor -%}

</div>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const form = document.querySelector('#vibe-selection')
    form.addEventListener('change', (e) => {
      const vibe = e.target.value

      const collections = document.querySelectorAll('[data-vibe]')
      collections.forEach(item => {
        const _vibe = item.dataset.vibe
        if(vibe === _vibe) {
          if(item.classList.contains('hidden')) item.classList.remove('hidden')
        }
        else {
          if(!item.classList.contains('hidden')) item.classList.add('hidden')
        }
      })
    })
  });
</script>
{% schema %}
  {
    "name": "OOH Product Filters",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}