{% assign iteration = 0 %}
{% assign selected_vibe = '' %}

{{ 'paint-details-slider.css' | asset_url | stylesheet_tag }}
{{ 'promo-header.css' | asset_url | stylesheet_tag }}

{{ 'swiper.css' | asset_url | stylesheet_tag }}

<script src="{{ 'swiper.js' | asset_url }}" defer></script>
<script src="{{ 'ooh-script.js' | asset_url }}" defer></script>

<style>

  /* ===============================================
  // Reveal module
  // =============================================== */

  .reveal .hidden {
    display: block !important;
    visibility: visible !important;
  }

  .product:hover .reveal img {
    opacity: 1;
  }

  .vibe_label {
    position: relative;
  }

  .reveal {
    position: relative;
  }

  .reveal .hidden {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }

  .reveal .hidden {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }

  .reveal:hover .hidden,
  .vibe_label:has(input:checked) .hidden {
    z-index: 0;
    opacity: 1;
  }

  .reveal .caption {
    position: absolute;
    top: 0;
    display: table;
    width: 100%;
    height: 100%;
    background-color: white;
    /* fallback for IE8 */
    background-color: rgba(255, 255, 255, 0.7);
    font: 13px/1.6 sans-serif;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    text-align: center;
    text-rendering: optimizeLegibility;
  }

  .reveal .hidden .caption .centered {
    display: table-cell;
    vertical-align: middle;
  }
  @media (min-width: 480px) and (max-width: 979px) {
    .reveal .caption {
      font-size: 11px;
    }
  }


  div#quickchat-button {
    display:none !important;
  }
  div#quickchat-intro-div {
    display: none !important;
}


  /* checkbox code */

  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .prev-next-btn-next::before {
    background: url({{ 'arrow-right.svg' | asset_url }}) no-repeat center;
  }
  .prev-next-btn-prev::before {
    background: url({{ 'arrow-left.svg' | asset_url }}) no-repeat center;
  }

  img.grid-view-item__image {
    max-width: 100%;
  }

  .icon--status::after {
    background: url("{{ 'icon-tick.svg' | asset_url }}") no-repeat center;
  }
  .icon--eye::after {
    background: url("{{ 'ion_eye-sharp.svg' | asset_url }}") no-repeat center;
  }
</style>

{% assign selected_vibe = blank %}
{% assign iteration = iteration | plus: 0 %}
{% assign vibe_options = "" %}

{% assign vibe_collections = section.settings.vibe_collections %}
{% for collection in vibe_collections %}
  {% if collection.handle contains 'vibe' %}
    {% assign iteration = iteration | plus: 1 %}
    {% if iteration == 1 %}
      {% assign selected_vibe = collection %}
    {% endif %}
    {%- capture vibe_options %}
      {{ vibe_options }}
      <option value="{{ collection.handle }}" {% if iteration==1 %} selected {% endif %} data-title="{{ collection.title }}">
        {{ collection.title }}
      </option>
    {% endcapture -%}
  {% endif %}
{% endfor %}
<ooh-campaign-component>
<form id="vibe-selection">

  <!-- Vibe Selection Carausel will come here -->
  
<!-- OOH product filters starts from here -->

<div id="ooh_product_filter_section">
  <div class="filtered_product_section">
    <h2 class="gush-font-h1" style="font-size:42px">Take your pick</h2>
    <h3 style="font-size:16px;">These pocket-sized 20ml paint samples are the best way to experience colours in person.</h3>

    <div class="filter_drop_down">
      <div class="collection-filter">
        <label class="vibe_selection_strip_label">
          <span class="vibe_drop_back">
            <img src="https://cdn.shopify.com/s/files/1/0614/1470/3297/files/Group_747.svg">
          </span>
          <span>Showing </span>
          <span class="selected-vibe__title">{{ selected_vibe.title }}</span>
          <span> vibe pallet</span>
        </label>
        <select id="collection-filter-select">
          {{ vibe_options }}
        </select>
      </div>
    </div>

    <height-observer data-container=".vibe__container">
      <div class="vibe__container">
        {% for collection in vibe_collections %}
          <div class="vibe__wrapper" data-vibe="{{ collection.handle }}" data-active="{% if forloop.first %}true{% else %}false{% endif %}">
            <div class="vibe__content" data-observable-element>
              <vibe-slider-component data-container=".swiper">
                <div class="content-wrapper">
                  <div class="swiper">
                    <div class="swiper-wrapper">
                      {% for product in collection.products %}
                        {%- liquid
                           assign current_variant = blank
                           
                           for variant in product.variants
                             if variant.option1 == 'Gush Cair' and variant.option2 == 'Paint Sample (20ml)'
                               assign current_variant = variant
                             endif
                           endfor
                        -%}
                        {% if current_variant != blank %}
                          {% assign image = product.featured_image %}
                          {% if product.images[1] != blank %}
                            {% assign image = product.images[1] %}
                          {% endif %}
                          
                          <div class="swiper-slide">
                            <div class="product-item">
                              <label class="vibe_label" for="vibe_{{ collection.handle }}_{{ product.id }}">
                                <input type="checkbox" id="vibe_{{ collection.handle }}_{{ product.id }}" class="vibe_input hidden-checkbox" name="vibe" value="{{ current_variant.id }}" data-title="{{ product.title }}" data-bg-image="{{ image | image_url: width: 2000 }}">
                                <span class="checkmark"></span>
                                <div class="reveal">
                                  <img class="grid-view-item__image" src="{{ image | img_url: '200x200' }}" loading="lazy">
                                  <img class="hidden" src="{{ 'paint_pack_sacket.png' | asset_url }}" loading="lazy">
                                </div>
                              </label>
                              <h4 class="filtered_product_title">{{ product.title }}</h4>
                              <h5 class="filtered_varient_title">{{ current_variant.title | replace: "Gush Cair / ", "" }}</h5>
                              <!-- Add code to display product image, price, etc. -->
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                    
                    <div class="swiper--controls">
                      <div class="pagination"></div>
                      <div class="prev-next-btn prev-next-btn-next"></div>
                      <div class="prev-next-btn prev-next-btn-prev"></div>
                    </div>
                  </div>
                </div>
              </vibe-slider-component>
            </div>
          </div>
        {% endfor %}
      </div>
    </height-observer>
    <div class="selection--status-wrapper">
      <div class="selection--status">
        <span class="icon--status"></span>
        <span class="text--status">0/3</span>
        <span class="helper--text">Paint Packs Selected</span>
        <a href="#OOH_order_details_section" class="icon--eye-container">
          <span class="icon--eye"></span>
        </a>
        
      </div>
    </div>
{% comment %}
  <div id="products_3_grid_slick">
    {% assign collection = collections['vibe-1'] %}
    <div class="vibe-1 {% unless collection.handle == selected_vibe.handle %}hidden{% endunless %} ooh_filtered_products"
      data-vibe="{{ collection.handle }}">
      {%- for product in collection.products -%}
        {%- liquid
          assign current_variant = blank
    
          for variant in product.variants
            if variant.option1 == 'Gush Cair' and variant.option2 == 'Paint Sample (20ml)'
              assign current_variant = variant
            endif
          endfor
        -%}
        
      {% if current_variant != blank %}
      <div class="product-item">
        <label class="vibe_label" for="vibe_1_{{ product.title }}">
          <input type="checkbox" id="vibe_1_{{ product.title }}" class="vibe_input hidden-checkbox" name="vibe" value="{{ current_variant.id }}" data-title="{{ product.title }}">
          <span class="checkmark"></span>
          <div class="reveal">
            {% for image in product.images limit: 1 offset: 1 %}
            <img class="grid-view-item__image" src="{{ image | img_url:" 200x200" }}">
            {% endfor %}
  
            <img class="hidden" src="{{ 'paint_pack_sacket.png' | asset_url }}">
          </div>
        </label>
        {% assign productTitle = product.title | split: "/" %}
        <h4 class="filtered_product_title">{{ product.title }}</h4>
     <h5 class="filtered_varient_title">{{ current_variant.title | replace: "Gush Cair / ", "" }}</h5>
        <!-- Add code to display product image, price, etc. -->
      </div>
      {% endif %}
      {%- endfor -%}
    </div>

    {% assign collection = collections['vibe-2'] %}
    <div class="vibe-2 {% unless collection.handle == selected_vibe.handle %}hidden{% endunless %} ooh_filtered_products"
      data-vibe="{{ collection.handle }}">
      {%- for product in collection.products -%}
      {%- liquid
      assign current_variant = blank

      for variant in product.variants
      if variant.option1 == 'Gush Cair' and variant.option2 == 'Paint Sample (20ml)'
      assign current_variant = variant
      endif
      endfor
      -%}
      {% if current_variant != blank %}
      <div class="product-item">
        
        <label class="vibe_label" for="vibe_2_{{ product.title }}">
          <input type="checkbox" id="vibe_2_{{ product.title }}" class="vibe_input" name="vibe" value="{{ current_variant.id }}" data-title="{{ product.title }}">
          <span class="checkmark"></span>
          <div class="reveal">
            {% for image in product.images limit: 1 offset: 1 %}
            <img class="grid-view-item__image" src="{{ image | img_url:" 200x200" }}">
            {% endfor %}
  
            <img class="hidden" src="{{ 'paint_pack_sacket.png' | asset_url }}">
          </div>
        </label>
        <h4 class="filtered_product_title">{{ product.title }}</h4>
        <h5 class="filtered_varient_title">{{ current_variant.title | replace: "Gush Cair / ", "" }}</h5>
        <!-- Add code to display product image, price, etc. -->
      </div>
      {% endif %}
      {%- endfor -%}
    </div>

    {% assign collection = collections['vibe-3'] %}
    <div class="vibe-3 {% unless collection.handle == selected_vibe.handle %}hidden{% endunless %} ooh_filtered_products"
      data-vibe="{{ collection.handle }}">
      {%- for product in collection.products -%}
      {%- liquid
      assign current_variant = blank

      for variant in product.variants
      if variant.option1 == 'Gush Cair' and variant.option2 == 'Paint Sample (20ml)'
      assign current_variant = variant
      endif
      endfor
      -%}
      {% if current_variant != blank %}
      <div class="product-item">
        <label class="vibe_label" for="vibe_3_{{ product.title }}">
          <input type="checkbox" id="vibe_3_{{ product.title }}" class="vibe_input" name="vibe" value="{{ current_variant.id }}" data-title="{{ product.title }}">
          <span class="checkmark"></span>
          <div class="reveal">
            {% for image in product.images limit: 1 offset: 1 %}
            <img class="grid-view-item__image" src="{{ image | img_url:" 200x200" }}">
            {% endfor %}
  
            <img class="hidden" src="{{ 'paint_pack_sacket.png' | asset_url }}">
          </div>
        </label>

         <h4 class="filtered_product_title">{{ product.title }}</h4>
        <h5 class="filtered_varient_title">{{ current_variant.title | replace: "Gush Cair / ", "" }}</h5>
      
        <!-- Add code to display product image, price, etc. -->
      </div>
      {% endif %}
      {%- endfor -%}
    </div>

      <div class="btn-wrap">
	<button class="prev-btn">Previous</button>
	<button class="next-btn">Next</button>
</div>
  </div>
    {% endcomment %}
  </div>
</div>


  <!-- OOH Whats include in package starts from here -->

<div id="ooh_package_you_get_section">
  <h3 class="gush-ooh_main_heading">Your bundle includes:</h3>
  <h4 class="gush_ooh_sub_heading">3 Paint samples, Paint sponges, Paint palettes and Swatch cards</h4>
  <div class="ooh_package_banner">
    <img src="https://cdn.shopify.com/s/files/1/0614/1470/3297/files/package_include.png?v=1696872774">
</div>
</div> 


  <div class="survey_plus_order"> 
       <div class="ooh_survey_container">
<!-- OOH survey starts from here -->
         
<div id="ooh_survey_section">    
      <div class="question_class question1_class">
        <h3 class="survey_question">What are you painting ?</h3>
        <label><input type="radio" name="question1" value="One Room">One Room
          <span class="checkmark"></span>
        </label>
        <label><input type="radio" name="question1" value="Multiple Room">Multiple Room
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="question_class question2_class">
        <h3 class="survey_question">How soon do you want to start painting ?</h3>
        <label><input type="radio" name="question2" value="Within 1-4 Weeks">Within 1-4 Weeks
          <span class="checkmark"></span>
        </label>
        <label><input type="radio" name="question2" value="Within 1-3 Months">Within 1-3 Months
          <span class="checkmark"></span>
        </label>
        <label><input type="radio" name="question2" value="More then 3 Months">More then 3 Months
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

<!-- OOH Order Deatils starts from here -->

  <div id="OOH_order_details_section" class="order-details-container">
      <h1 class="container-header">Order Details</h1>

      <div class="order">
        <div class="order-marker">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class="order-header">
          <h3>Paint Samples</h3>
          <span>x3</span>
          <span>$0</span>
        </div>

        <div class="order-details">
          <div class="order-props">
            <span>Color</span>
            <span>Size</span>
          </div>
          <div class="order-values">
             <div id="selected_colors"><span class="colors"></span></div>
            <span>Paint Pack (20ml)</span>
          </div>
        </div>
      </div>
    </div>



<!-- OOH Order Deatils starts from here -->
<div class="shipping_details_tnC">
  <p>Shipping fee</p>
  <div class="shipping_charge">
    
   <label>
      <input type="radio" checked name="question1" value="One Room">
 
  <span class="checkmark"></span>
  </label>
    <span style=" text-decoration: line-through;">$3.29 SGD</span> Free shipping
    
  </div>
  <div class="left_right_container">
    <div class="left">Total</div>
    <div class="right">Free</div>
  </div>


<p class="ooh_terms_condition">Your personal data will be used to process your order, support your experience throughout this website, and for
    other purposes described in our Privacy policy </p>
    <div class="tnc_acknowledge_section">
<input type="checkbox" id="tnc" name="gush TnC" class="gush_tnc_checkbox" value="I have read and agree to the gush.earth">
<p>I have read and agree to the gush.earth <a href="https://gush.earth/pages/terms-and-conditions">terms and conditions</a></p>
  </div>

</div>

          <button type="submit" class="checkout_button">Place Order <img src="https://cdn.shopify.com/s/files/1/0614/1470/3297/files/Group_2223.svg?v=1696707059"></button>
      
       <div class="congratulations_message_free_ship">
      <img src="https://cdn.shopify.com/s/files/1/0614/1470/3297/files/Group_3.svg?v=1696707356">Nice -- you've got free shipping.
        </div>
     
       </div>
        <img class="footer_banner" src="https://cdn.shopify.com/s/files/1/0614/1470/3297/files/08_2.png?v=1696707672">
    </div>

  
</form>
</ooh-campaign-component>

  
{% schema %}
 {
    "name":"OOH Filter Products",
    "settings":[
        {
            "type":"text",
            "id":"heading",
            "label":"Heading"
        },
      {
        "type": "collection_list",
        "id": "vibe_collections",
        "label": "Vibes"
      }
    ],
    "blocks":[
        {
            "type":"slide",
            "name":"Slide",
            "settings":[
                {
                    "type":"image_picker",
                    "id":"img",
                    "label":"Image"
                },
              {
"id" : "vibe_collection",
"type" : "collection",
"label" : "collection"
}
            ]
        }
    ],
    "presets":[
        {
            "name":"OOH Filter Products"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
