{% assign iteration = 0 %}
{% assign selected_vibe = '' %}

{{ 'paint-details-slider.css' | asset_url | stylesheet_tag }}
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
<style>
    .collection_button {
      border-radius: 1px;
  border: 1px solid var(--Secondary-6, #302112);
      display: inline-flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
    }
</style>

<div class="page-width">
  <h2 class="gush-font-h2">What's your vibe?</h2>
  <div class="slider-container-2">
    <div class="paint-swiper-1">
      <div class="swiper-wrapper-1">
        <div class="collection-filter">
          <form id="vibe-selection">
            <label for="collection-filter-select">Filter by Collection:</label>
            <select id="collection-filter-select">
              {% for collection in collections %}
                {% if collection.handle contains 'vibe' %}
                  {% assign iteration = iteration | plus: 1 %}
                  {% if iteration == 1 %}
                    {% assign selected_vibe = collection.handle %}
                  {% endif %}
                  <option
                    value="{{ collection.handle }}"
                    {% if iteration == 1 %}
                      selected
                    {% endif %}
                  >
                    {{ collection.title }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </form>
        </div>

        <div class="collection_loads">
          {% assign collection1 = collections['vibe-1'] %}
          <a href="{{ collection1.url }}">
            <img src="{{ collection1.image.src | img_url: 'medium' }}" alt="{{ collection.title }}">
            <h3>{{ collection1.title }}</h3>
          </a>
        </div>

        <div class="collection_loads">
          {% assign collection2 = collections['vibe-2'] %}
          <a href="{{ collection2.url }}">
            <img src="{{ collection2.image.src | img_url: 'medium' }}" alt="{{ collection.title }}">
            <h3>{{ collection2.title }}</h3>
          </a>
        </div>

        <div class="collection_loads">
          {% assign collection3 = collections['vibe-3'] %}
          <a href="{{ collection3.url }}">
            <img src="{{ collection3.image.src | img_url: 'medium' }}" alt="{{ collection.title }}">
            <h3>{{ collection3.title }}</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
        jQuery(document).ready(function($){
        $('.swiper-wrapper-1').slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    adaptiveHeight: true
  });
      });
</script>
