{% assign iteration = 0 %}
{% assign selected_vibe = '' %}
<!-- OOH product filters starts from here -->

<style>
    .vibe-1 {display: flex;
      justify-content: center;}
     .vibe-2 {display: flex;
      justify-content: center;}
     .vibe-3 {display: flex;
      justify-content: center;}

    /* ===============================================
  // Reveal module
  // =============================================== */

  .reveal .hidden { display: block !important; visibility: visible !important;}
  .product:hover .reveal img { opacity: 1; }
  .reveal { position: relative; }
  .reveal .hidden {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  .reveal:hover .hidden {
    z-index: 100000;
    opacity: 1;
  }
  .reveal .caption {
    position: absolute;
    top: 0;
    display: table;
    width: 100%;
    height: 100%;
    background-color: white; /* fallback for IE8 */
    background-color: rgba(255, 255, 255, 0.7);
    font: 13px/1.6 sans-serif;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    text-align: center;
    text-rendering: optimizeLegibility;
  }
  .reveal .hidden .caption .centered {
    display: table-cell;
    vertical-align: middle;
  }

  @media (min-width: 480px) and (max-width: 979px) {
    .reveal .caption {
      font-size: 11px;
    }
  }
</style>

<div id="ooh_product_filter_section">
  <div class="page-width">
    <h3 class="gush-font-h2">Select 3 paint packs for free</h3>
    <h5>These pocket-sized (20ml) sample sachets work just like ketchup* — simply tear, squeeze and apply</h5>
    {% assign collection = collections['vibe-1'] %}
    <div
      class="vibe-1 {% unless collection.handle == selected_vibe %}hidden{% endunless %} ooh_filtered_products"
      data-vibe="{{ collection.handle }}"
    >
      {%- for product in collection.products -%}
        {%- liquid
          assign current_variant = blank

          for variant in product.variants
            if variant.option1 == 'Gush Cair' and variant.option2 == 'Paint Pack (20ml)'
              assign current_variant = variant
            endif
          endfor
        -%}
        {% if current_variant != blank %}
          <div class="product-item">
            <div class="reveal">
              {% for image in product.images limit: 1 offset: 1 %}
                <img class="grid-view-item__image" src="{{ image | img_url:"200x200" }}">
              {% endfor %}

              <img class="hidden" src="{{ 'paint_pack_sacket.png' | asset_url }}">
            </div>

            <h4>{{ product.title }}</h4>
            <h5>{{ current_variant.title }}</h5>
            <!-- Add code to display product image, price, etc. -->
          </div>
        {% endif %}
      {%- endfor -%}
    </div>

    {% assign collection = collections['vibe-2'] %}
    <div
      class="vibe-2 {% unless collection.handle == selected_vibe %}hidden{% endunless %} ooh_filtered_products"
      data-vibe="{{ collection.handle }}"
    >
      {%- for product in collection.products -%}
        {%- liquid
          assign current_variant = blank

          for variant in product.variants
            if variant.option1 == 'Gush Cair' and variant.option2 == 'Paint Pack (20ml)'
              assign current_variant = variant
            endif
          endfor
        -%}
        {% if current_variant != blank %}
          <div class="product-item">
            <div class="reveal">
              {% for image in product.images limit: 1 offset: 1 %}
                <img class="grid-view-item__image" src="{{ image | img_url:"200x200" }}">
              {% endfor %}

              <img class="hidden" src="{{ 'paint_pack_sacket.png' | asset_url }}">
            </div>
            <h4>{{ product.title }}</h4>
            <h5>{{ current_variant.title }}</h5>
            <!-- Add code to display product image, price, etc. -->
          </div>
        {% endif %}
      {%- endfor -%}
    </div>

    {% assign collection = collections['vibe-3'] %}
    <div
      class="vibe-3 {% unless collection.handle == selected_vibe %}hidden{% endunless %} ooh_filtered_products"
      data-vibe="{{ collection.handle }}"
    >
      {%- for product in collection.products -%}
        {%- liquid
          assign current_variant = blank

          for variant in product.variants
            if variant.option1 == 'Gush Cair' and variant.option2 == 'Paint Pack (20ml)'
              assign current_variant = variant
            endif
          endfor
        -%}
        {% if current_variant != blank %}
          <div class="product-item">
            <div class="reveal">
              {% for image in product.images limit: 1 offset: 1 %}
                <img class="grid-view-item__image" src="{{ image | img_url:"200x200" }}">
              {% endfor %}

              <img class="hidden" src="{{ 'paint_pack_sacket.png' | asset_url }}">
            </div>

            <h4>{{ product.title }}</h4>
            <h5>{{ current_variant.title }}</h5>
            <!-- Add code to display product image, price, etc. -->
          </div>
        {% endif %}
      {%- endfor -%}
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const form = document.querySelector('#vibe-selection')
    form.addEventListener('change', (e) => {
      const vibe = e.target.value

      const collections = document.querySelectorAll('[data-vibe]')
      collections.forEach(item => {
        const _vibe = item.dataset.vibe
        if(vibe === _vibe) {
          if(item.classList.contains('hidden')) item.classList.remove('hidden')
        }
        else {
          if(!item.classList.contains('hidden')) item.classList.add('hidden')
        }
      })
    })
  });
</script>
{% schema %}
 {
    "name":"OOH Filter Products",
    "settings":[
        {
            "type":"text",
            "id":"heading",
            "label":"Heading"
        }
    ],
    "blocks":[
        {
            "type":"slide",
            "name":"Slide",
            "settings":[
                {
                    "type":"image_picker",
                    "id":"img",
                    "label":"Image"
                },
              {
"id" : "vibe_collection",
"type" : "collection",
"label" : "collection"
}
            ]
        }
    ],
    "presets":[
        {
            "name":"OOH Filter Products"
        }
    ]
}
{% endschema %}
