{{ "paint-details-circle.css" | asset_url | stylesheet_tag}}
{% style  %} 
    .section-{{ section.id }} {
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    @media screen and (max-width: 750px){
        .section-{{ section.id }} {
        padding-bottom: {{ section.settings.padding_bottom | times: 0.4 | round: 0 }}px;
    }
    } 
    .heading-{{ section.id }} {
        padding-top: {{ section.settings.header_padding_top }}px;
        padding-bottom: {{ section.settings.header_padding_bottom }}px;
        margin: 0 15%;
        text-align: center;
    }
    {% for block in section.blocks %} 
        .paint-dot-{{ forloop.index }}-{{ section.id }}{
            position: absolute;
            left: {{ block.settings.left }}%;
            top: {{ block.settings.top }}%;
        }
    {% endfor %}
  .{{ section.id }}-third-div{ 
        order: 1 ;
        height: 100%;
        position: relative;
    }
  .{{ section.id }}-third-div a{ 
        position: absolute;
        bottom: 20%;
        color: #000000;
    }
  {% if section.settings.info_position == "right" %} 
    .{{ section.id }}-first-div{ order: 3 }
    .{{ section.id }}-second-div{ order: 2 }
    .{{ section.id }}-third-div{ order: 1 }
  {% endif %}
{% endstyle %}
<div class="page-width section-{{ section.id }} ">
    {% if section.settings.heading != blank %} 
        <h1 class="gush-font-h1 heading-{{ section.id }} heading">{{ section.settings.heading }}</h1>
    {% endif %}
    <div class="paint-content-container">
        <div class="{{ section.id }}-first-div first-div">
            <p class="gush-font-p1">{{ section.settings.category }}</p>
            <h4 class="gush-font-h4 paint-info-title">{{ section.settings.title }}</h4>
            <p class="gush-font-p2">{{ section.settings.desc }}</p>
        </div>
        <div class="{{ section.id }}-second-div second-div image-box">
            {% for block in section.blocks %} 
                <div class="paint-dot-{{ forloop.index }}-{{ section.id }} paint-circle-dot {% if forloop.first %} active {% endif %}"> </div>
            {% endfor %}
             {% for block in section.blocks %} 
                <div class="top-info-box paint-info-box {% if forloop.first %} active {% endif %}"><p class="gush-font-p2">{{ block.settings.info }}</p></div>
            {% endfor %}
            {{ section.settings.img | image_url: width: 600 | image_tag }}
            {% if section.settings.bottom_circle_txt != blank %} 
                <div class="bottom-info-box paint-info-box"><p class="gush-font-p2">{{ section.settings.bottom_circle_txt }}</p></div>
            {% endif %}
        </div>
        <div class="{{ section.id }}-third-div third-div">
            <a class="gush-font-p2" href="{{ section.settings.url }}">{{ section.settings.link_text }}</a>
        </div>
    </div>
</div>

<script>
    const dots = document.querySelectorAll(".paint-circle-dot");
    const boxs = document.querySelectorAll(".top-info-box");
    dots.forEach(( dot,ind )=>{
        dot.addEventListener("click", ()=>{
            dots.forEach(crl=>{
                crl.classList.remove("active")
            })
            dot.classList.add("active")
            boxs.forEach(( box,boxInd )=>{
                if(ind != boxInd){
                    box.classList.remove("active")
                }else{
                    box.classList.add("active")
                }
            })
        })
    })
</script>
{% schema  %} 
{
    "name":"Paint details circle",
    "settings":[
        {
            "type":"textarea",
            "id":"heading",
            "label":"Heading",
            "info":"Keep it empty if don't need any heading"
        },
        {
            "type": "range",
            "id": "header_padding_top",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "Header top padding",
            "default": 0
        },
        {
            "type": "range",
            "id": "header_padding_bottom",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "Header bottom padding",
            "default": 0
        },
        {
            "type":"image_picker",
            "id":"img",
            "label":"Image"
        },
        {
            "type":"text",
            "id":"category",
            "label":"Category"
        },
        {
            "type":"textarea",
            "id":"title",
            "label":"Title"
        },
        {
            "type":"textarea",
            "id":"desc",
            "label":"Description"
        },
        {
            "type":"textarea",
            "id":"link_text",
            "label":"Link text"
        },
        {
            "type":"url",
            "id":"url",
            "label":"URL"
        },
        {
            "type":"textarea",
            "id":"bottom_circle_txt",
            "label":"Bottom circle text",
            "info":"Keep it blank to hide bottom circle"
        },
        {
            "type":"select",
            "id":"info_position",
            "label":"Info position",
            "options":[
                {
                    "value":"left",
                    "label":"Left"
                },
                {
                    "value":"right",
                    "label":"Right"
                }
            ],
            "default":"left"
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "Section bottom padding",
            "default": 0
        }
    ],
    "blocks":[
        {
            "type":"block",
            "name":"block",
            "settings":[
                {
                    "type": "range",
                    "id": "top",
                    "min": 1,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "label": "Top",
                    "default": 1,
                    "info":"dot's position from top"
                },
                {
                    "type": "range",
                    "id": "left",
                    "min": 1,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "label": "Left",
                    "default": 1,
                    "info":"dot's position from left"
                },
                {
                    "type":"textarea",
                    "id":"info",
                    "label":"Text"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"Paint details circle"
        }
    ]
}
{% endschema %}