{{ 'section-science-steps.css' | asset_url | stylesheet_tag }}

{%- liquid
             assign the_problem_blocks = section.blocks | where: 'type', 'the-problem-block' 
             assign the_solution_blocks = section.blocks | where: 'type', 'the-solution-block' 
             assign reports_blocks = section.blocks | where: 'type', 'reports-block'
             assign accreditation_blocks = section.blocks | where: 'type', 'accreditation-block'
            -%}

{% style %}
  {% if section.settings.page_name == "Window_film_science" %}
    @media screen and (max-width: 750px) {
      .the-problem-block {
        margin-top: 0 !important;
      }
      .the_problem_block_content {
        margin: 25px 0 !important;
      }
      .unbreakable_benefits:last-child {
        margin-bottom: 25px !important;
      }
      .content_title_for_problem {
        margin-top: 0 !important;
        margin-bottom: 15px !important;
      }
      .content_des_for_problem {
        margin: 0 auto !important;
      }
    }

    @media screen and (min-width: 750px) {
      .border_top_none {
        border-top: none !important;
        padding-top: 0 !important;
      }
      .content_des_for_problem {
        padding-right: 2rem;
      }
      .reports-block {
        margin-top: 50px !important;
      }
    }
  {% endif %}
  #solution-lottie-container{
    height: 250px;
  }
{% endstyle %}

<div class="science-steps page-width">
  <h2 class="gush-font-h1 {% if section.settings.unbreakable_benefits %} border_top_none {% endif %}">{{ section.settings.title }}
  </h2>
  <h3 class="gush-font-h3">{{ section.settings.description }}
  </h3>

  {% if the_problem_blocks != empty %}
    <div>
      {% for block in the_problem_blocks %}
        <div class="the-problem-block {% if forloop.last and section.settings.unbreakable_benefits == false -%}
                                                            			last-block
                                                            	 {%- endif -%} {% assign num = forloop.index | modulo: 2 %}
                                                            	{% if num != 0 and section.settings.unbreakable_benefits %}
                                                            		odd-block
                                                            	{% endif %} {% if section.settings.unbreakable_benefits %} unbreakable_benefits {% endif %}" {{ block.shopify_attributes }}>
          <div class="content the_problem_block_content">
            <h2 class="gush-font-h3 content_title_for_problem">{{ block.settings.title }}
            </h2>
            <p class="gush-font-p1 content_des_for_problem">{{ block.settings.description }}
            </p>
          </div>
          <div class="image">
            {{ block.settings.image | image_url: width: 1280 | image_tag }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}


  {% if the_solution_blocks != empty %}
    <div class="the-solution-blocks">
      {% for block in the_solution_blocks %}
        <div class="solution-block" {{ block.shopify_attributes }}>
          {% if block.settings.lottie_file_name != 'not-selected' %}
            <div id="solution-lottie-container" data-lottie-file-path="{{ block.settings.lottie_file_name | asset_url }}"></div>
          {% else %}
            <div class="image">
              {% if block.settings.svg != blank %} 
                <img src="{{ block.settings.svg | asset_url }}" alt="" >
              {% else  %}
                {{ block.settings.image | image_url: width: 1280 | image_tag }}
              {% endif %}
            </div>
          {% endif %}
          <div class="content">
            <h2 class="gush-font-h3">{{ block.settings.title }}
            </h2>
            <p class="gush-font-p1">{{ block.settings.description }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if reports_blocks != empty %}
    <div class="reports-blocks">
      {% for block in reports_blocks %}
        <div class="reports-block {% if forloop.last -%}
                                                            			last-block
                                                            	 {%- endif -%}" {{ block.shopify_attributes }}>
          <span class="gush-font-p2">{{ block.settings.title }}
          </span>
          <h3 class="gush-font-h3">{{ block.settings.description }}
          </h3>
          <span class="gush-font-p2">{{ block.settings.number }}
          </span>

        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if accreditation_blocks != empty %}
    <div class="accreditation-blocks">
      {% for block in accreditation_blocks %}
        <div class="accreditation-block {% if forloop.last -%}
                                                            				last-block
                                                            		 {%- endif -%}" {{ block.shopify_attributes }}>
          <div class="images">
            {% if block.settings.image1 != nil %}
              <div class="image">
                {{ block.settings.image1 | image_url: width: 600 | image_tag }}
              </div>
            {% endif %}

            {% if block.settings.image2 != nil %}
              <div class="image">
                {{ block.settings.image2 | image_url: width: 600 | image_tag }}
              </div>
            {% endif %}

            {% if block.settings.image3 != nil %}
              <div class="image">
                {{ block.settings.image3 | image_url: width: 600 | image_tag }}
              </div>
            {% endif %}

            {% if block.settings.image4 != nil %}
              <div class="image">
                {{ block.settings.image4 | image_url: width: 600 | image_tag }}
              </div>
            {% endif %}
          </div>
          <h2 class="gush-font-h2">{{ block.settings.title }}
          </h2>
          <ul class="gush-font-p2">{{ block.settings.description }}
          </ul>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% if the_solution_blocks != empty %}
  <script>
    var solutionLottieContainer = document.getElementById('solution-lottie-container');
    var lottieFilePath = solutionLottieContainer.dataset.lottieFilePath;

    var solutionAnimation = bodymovin.loadAnimation({
      container: solutionLottieContainer, // required
      path: lottieFilePath, // required
      renderer: 'svg', // required
      loop: true, // optional
      autoplay: false, // optional
      name: "Lottie Animation", // optional
    });

    solutionAnimation.setSpeed(.5);

    // "listen" & check when header is out of viewport
    // (i set 50% = visible => threshold: 0.5 (to set))
    const solutionLottieViewport = function() {
      let options = {
        rootMargin: '-100px',
        threshold: .5
      }

      let solutionObserver = new IntersectionObserver(entries => {
        entries[0].isIntersecting === true
          ? solutionAnimation.play()
          : solutionAnimation.goToAndStop(0, 0);
					if(entries[0].isIntersecting) solutionObserver.unobserve(entries[0].target);
      }, options);

      solutionObserver.observe(document.querySelector('#solution-lottie-container'));
    }

    solutionLottieViewport();
  </script>
{% endif %}


{% schema %}
  {
    "name": "Science Steps",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      }, {
        "type": "select",
        "id": "page_name",
        "label": "Select page name",
        "options": [
          {
            "value": "Window_film_science",
            "label": "Window film science"
          }, {
            "value": "science",
            "label": "Science"
          }
        ],
        "default": "science"
      }, {
        "type": "checkbox",
        "id": "unbreakable_benefits",
        "label": "Unbreakable benefits section",
        "default": false
      }
    ],
    "blocks": [
      {
        "name": "The Problem",
        "type": "the-problem-block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }, {
        "name": "The Solution",
        "type": "the-solution-block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
							"type":"text",
							"id":"svg",
							"label":"SVG File name",
							"info":"Use svg instead of png/jpg svg file must be in asset folder ( example.svg )"
					},
          {
            "type": "select",
            "id": "lottie_file_name",
            "label": "Select Lottie file",
            "options": [
              {
                "value": "not-selected",
                "label": "Not Selected"
              }, {
                "value": "air-purifying-walls.json",
                "label": "Air-purifying walls"
              }
            ],
            "default": "not-selected"
          }
        ]
      }, {
        "name": "Report",
        "type": "reports-block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          }, {
            "type": "text",
            "id": "number",
            "label": "Number"
          }
        ]
      }, {
        "name": "Accreditation",
        "type": "accreditation-block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image One"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image Two"
          }, {
            "type": "image_picker",
            "id": "image3",
            "label": "Image Three"
          }, {
            "type": "image_picker",
            "id": "image4",
            "label": "Image Four"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Science Steps"
      }
    ]
  }
{% endschema %}