{{ 'component-mobile-dropdown.css' | asset_url | stylesheet_tag }}
{{ 'section-problem-tab.css' | asset_url | stylesheet_tag }}
<style>
	.solar_spectrum_container{
		margin-bottom: 3rem;
	}
	#solar_spectrum_title{
		line-height: 19px;
	}
</style>
{% style  %}
{% if section.settings.page_name == "Window_film_science" %} 
.the-problem-tab{
	padding-top: 0 !important;
	padding-bottom: 60px !important;
}
.tab-content{
	padding: 70px !important;
}
.how_it_harm>p{
	margin-bottom:5px !important;
}
.first_how_it_harm{
	margin-bottom: 20px !important;
}
@media screen and (max-width: 750px){
	.the-problem-tab{
	padding-bottom: 50px !important;
}
.tab-content{
	padding: 2rem !important;
}
}

{% endif %}
{% endstyle %}

<div class="the-problem-tab gush-page-width">
	{% render 'mobile-dropdown', blocks: section.blocks %}

	<div class="tab-contents">
		{% for block in section.blocks %}
				<div class="tab-content {% if forloop.first -%}
				active
		 {%- endif -%}" id="{{block.settings.title | handleize }}" {{ block.shopify_attributes }}>
		 <div class="left-content">
			<div class="name_formula">
				<h2 class="gush-font-h1">{{block.settings.title}}</h2>
				 {%- if block.settings.chemical_formula -%}
				<div class="image_formula">
					{{ block.settings.chemical_formula | image_url: width: 280 | image_tag }}
				</div>
				{%- endif -%}
			</div>
				<div class="image_structure">
					{% if block.settings.svg != blank %} 
						<img src="{{ block.settings.svg | asset_url }}" alt="" >
					{% else  %}
						{{ block.settings.chemical_structure | image_url: width: 800 | image_tag }}
					{% endif %}
				</div>
			</div>
			<div class="right-content">
				<div class="odor_appearance">
					{%- if block.settings.solar_spectrum_range != blank -%}
					<div class="odor gush-font-p2 solar_spectrum_container">
						<p id="solar_spectrum_title">Solar spectrum range</p>
						<p id="solar_spectrum">{{block.settings.solar_spectrum_range }}</p>
					</div>
					{%- endif -%}
					{%- if block.settings.odor != blank -%}
					<div class="odor gush-font-p2">
						<p style="font-weight:500 !important">Odour</p>
						<p>{{block.settings.odor }}</p>
					</div>
					{%- endif -%}
					{%- if block.settings.appearance != blank  -%}
					<div class="appearance gush-font-p2">
						<p style="font-weight:500 !important">Appearance</p>
						<p>{{block.settings.appearance}}</p>
					</div>
					{%- endif -%}
			</div>

			<h4 class="gush-font-h2 found_in">{{block.settings.found_in}}</h4>
			{%- if block.settings.this_is_great != blank  -%}
			<div class="how_it_harm gush-font-p2 first_how_it_harm">
				<p style="font-weight:500 !important">This is great for...</p>
				<p>{{block.settings.this_is_great}}</p>
			</div>
			{%- endif -%}
			<div class="how_it_harm gush-font-p2">
				<p style="font-weight:500 !important">How does it harm the body?</p>
				<p>{{block.settings.how_it_harm}}</p>
			</div>
			<div class="effects_of_exposure gush-font-p2">
				{%- if page.title == "Science"  -%}
				<p style="font-weight:500 !important">Effects of exposure</p>
				{%- else page.title -%}
				<p style="font-weight:500 !important">Effects of prolonged exposure</p>
				{%- endif -%}
				<p>{{block.settings.effects_of_exposure}}</p>
			</div>
		</div>
				</div>
		{% endfor %}
		</div>

		<div class="tabs">
			{% for block in section.blocks %}
					<div class="tab {% if forloop.first -%}
					active
			 {%- endif -%}" data-tab-target="#{{block.settings.title | handleize }}" {{ block.shopify_attributes }}>
						<div class="gush-font-p2">{{block.settings.title}}</div>
					</div>
			{% endfor %}
			</div>
</div>

{% javascript %}
const tabs = document.querySelectorAll('.the-problem-tab .tab');
const dropDownOptions = document.querySelectorAll('.the-problem-tab .option');
const tabContents = document.querySelectorAll('.the-problem-tab .tab-content');

dropDownOptions.forEach(option => {
  option.addEventListener('click', () => {
    const target = document.querySelector(option.dataset.optionTarget);
    tabContents.forEach(tabContent => {
      tabContent.classList.remove('active');
    });
    dropDownOptions.forEach(option => {
      option.classList.remove('active');
    });
    option.classList.add('active');
    target.classList.add('active');
		document.querySelector('.the-problem-tab details').removeAttribute("open");
		document.querySelector('.the-problem-tab summary span').textContent = option.textContent;
  })
})

tabs.forEach(tab => {
  tab.addEventListener('click', () => {
    const target = document.querySelector(tab.dataset.tabTarget)
    tabContents.forEach(tabContent => {
      tabContent.classList.remove('active')
    })
    tabs.forEach(tab => {
      tab.classList.remove('active')
    })
    tab.classList.add('active')
    target.classList.add('active')
  })
})
	
{% endjavascript %}


	{% schema %}
	{
		"name": "Science Problem Tab",
		"tag": "section",
		"settings":[
			{
				"type": "select",
				"id": "page_name",
				"label": "Select page name",
				"options": [
					{
					"value": "Window_film_science",
					"label": "Window film science"
					},
					{
					"value": "science",
					"label": "Science"
					}
				],
				"default": "science"
			}
		],
			"blocks": [
				{
					"type": "chemical",
					"name": "Chemical",
					"settings": [
					{
						"id": "title",
						"type": "text",
						"label": "Chemical Name"
					},
						{
							"id": "chemical_formula",
							"type": "image_picker",
							"label": "Chemical Formula"
						},
						{
							"id": "chemical_structure",
							"type": "image_picker",
							"label": "Chemical Structure"
						},
						{
							"type":"text",
							"id":"svg",
							"label":"SVG File name",
							"info":"Use svg instead of png/jpg svg file must be in asset folder ( example.svg )"
						},
						{
							"id": "solar_spectrum_range",
							"type": "text",
							"label": "Solar spectrum range"
						},
						{
							"id": "odor",
							"type": "text",
							"label": "Odor"
						},
						{
							"id": "appearance",
							"type": "text",
							"label": "Appearance"
						},
						{
							"id": "found_in",
							"type": "textarea",
							"label": "Found In"
						},
						{
							"id": "this_is_great",
							"type": "textarea",
							"label": "This is great"
						},
						{
							"id": "how_it_harm",
							"type": "textarea",
							"label": "How does it harm the body?"
						},
						{
							"id": "effects_of_exposure",
							"type": "textarea",
							"label": "Effects of exposure"
						}
						
					]
				}
			],"presets": [
			{
			"name": "Science Problem Tab"
			}
			]
		}
		
	{% endschema %}