<style>
	.the-solution-tab {
		padding: 100px 5rem;
	}

	.the-solution-tab .tab-contents .tab-content.active {
		display: block !important;
	}

	.the-solution-tab .tab-content {
		display: none;
		padding: 8rem;
	}

	.the-solution-tab .tab-content .first_image_text, .the-solution-tab .tab-content .second_image_text{
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		align-items: center;
		gap: 10rem;
		color: #302112 !important;
	}

	.the-solution-tab .tab-content .first_image_text {
		margin-bottom: 13rem;
	}

	.the-solution-tab .tab-content .content p {
		white-space: pre-line;
		max-width: 400px;
	}

	.the-solution-tab .tab-content.last-block .image {
		order: 1;
	}

	.the-solution-tab .tab-content .image img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	.the-solution-tab .tabs {
		display: flex;
		justify-content: space-around;
	}

	.the-solution-tab .tabs .tab {
		cursor: pointer;
		padding: 18px 0;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #EAE4DF;
	}

	.the-solution-tab .tabs .tab.active {
		border-bottom: 2px solid #302112;
	}
</style>

<div class="the-solution-tab page-width">
	<div class="tabs">
		{% for block in section.blocks %}
		<div class="tab {% if forloop.first -%}
				active
		 {%- endif -%}" data-tab-target="#tab{{forloop.index}}" {{ block.shopify_attributes }}>
			<div>{{block.settings.tab_title}}</div>
		</div>
		{% endfor %}
	</div>

	<div class="tab-contents">
		{% for block in section.blocks %}
		<div class="tab-content {% if forloop.first -%}
		active
 {%- endif -%}" id="tab{{forloop.index}}" {{ block.shopify_attributes }}>
			<div class="first_image_text">
				<div class="image">
					{{ block.settings.first_image | image_url: width: 1280 | image_tag }}
				</div>
				<div class="content">
					<h2 class="gush-font-h2">{{block.settings.first_title}}</h2>
					<p class="gush-font-p1">{{block.settings.first_description}}</p>
				</div>
			</div>
			<div class="second_image_text">
				<div class="content">
					<h2 class="gush-font-h2">{{block.settings.second_title}}</h2>
					<p class="gush-font-p1">{{block.settings.second_description}}</p>
				</div>
				<div class="image">
					{{ block.settings.second_image | image_url: width: 1280 | image_tag }}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% javascript %}
const tabs = document.querySelectorAll('.the-solution-tab .tab')
const tabContents = document.querySelectorAll('.the-solution-tab .tab-content')

tabs.forEach(tab => {
tab.addEventListener('click', () => {
const target = document.querySelector(tab.dataset.tabTarget)
tabContents.forEach(tabContent => {
tabContent.classList.remove('active')
})
tabs.forEach(tab => {
tab.classList.remove('active')
})
tab.classList.add('active')
target.classList.add('active')
})
})

{% endjavascript %}


{% schema %}
{
"name": "Science Solution Tab",
"tag": "section",
"blocks": [
{
"type": "block",
"name": "block",
"settings": [
{
"type": "text",
"id": "tab_title",
"label": "Tab Title"
},
{
"type": "text",
"id": "first_title",
"label": "First Title"
},
{
"type": "textarea",
"id": "first_description",
"label": "First Description"
},
{
"type": "image_picker",
"id": "first_image",
"label": "First Image"
},
{
"type": "text",
"id": "second_title",
"label": "Second Title"
},
{
"type": "textarea",
"id": "second_description",
"label": "Second Description"
},
{
"type": "image_picker",
"id": "second_image",
"label": "Second Image"
}
]
}
],"presets": [
{
"name": "Science Solution Tab"
}
]
}

{% endschema %}