<style>
	.the-testing-tab {
		padding: 100px 5rem;
	}

	.tab-contents .tab-content.active {
		display: grid !important;
	}

	.the-testing-tab .tab-content {
		display: none;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		background-color: #F9F4F0;
		padding: 80px;
	}

	.the-testing-tab .tab-content .left-content h2 {
		margin: 0;
		padding: 0; 
	}

	.the-testing-tab .tabs {
		display: flex;
		justify-content: space-around;
	}

	.the-testing-tab .tabs .tab{
		cursor: pointer;
		padding: 18px 0;
		width: 100%;
		text-align: center;
	}

	.the-testing-tab .tabs .tab.active{
		border-top: 2px solid #FF42EF;
	}
</style>

<div class="the-testing-tab page-width">
	<div class="tab-contents">
		{% for block in section.blocks %}
				<div class="tab-content {% if forloop.first -%}
				active
		 {%- endif -%}" id="{{block.settings.chemical_name}}" {{ block.shopify_attributes }}>
		 <div class="left-content">
				<h2 class="gush-font-h1">{{block.settings.chemical_name}}</h2>
				<div class="image_formula">
					{{ block.settings.chemical_formula | image_url: width: 80 | image_tag }}
				</div>
				<div class="image_structure">
					{{ block.settings.chemical_structure | image_url: width: 80 | image_tag }}
				</div>
			</div>
			<div class="right-content">
				<div>
					<div class="odor">
						<p>Odor</p>
						<p>{{block.settings.odor}}</p>
					</div>
					<div class="appearance">
						<p>Appearance</p>
						<p>{{block.settings.appearance}}</p>
					</div>
			</div>

			<h4>{{block.settings.found_in}}</h4>

			<div class="how_it_harm">
				<p>How does it harm the body?</p>
				<p>{{block.settings.how_it_harm}}</p>
			</div>
			<div class="effects_of_exposure">
				<p>How does it harm the body?</p>
				<p>{{block.settings.effects_of_exposure}}</p>
			</div>
		</div>
				</div>
		{% endfor %}
		</div>

		<div class="tabs">
			{% for block in section.blocks %}
					<div class="tab {% if forloop.first -%}
					active
			 {%- endif -%}" data-tab-target="#{{block.settings.chemical_name}}" {{ block.shopify_attributes }}>
						<div>{{block.settings.chemical_name}}</div>
					</div>
			{% endfor %}
			</div>
</div>

{% javascript %}
const tabs = document.querySelectorAll('.the-problem-tab .tab')
const tabContents = document.querySelectorAll('.the-problem-tab .tab-content')

tabs.forEach(tab => {
  tab.addEventListener('click', () => {
    const target = document.querySelector(tab.dataset.tabTarget)
    tabContents.forEach(tabContent => {
      tabContent.classList.remove('active')
    })
    tabs.forEach(tab => {
      tab.classList.remove('active')
    })
    tab.classList.add('active')
    target.classList.add('active')
  })
})
	
{% endjavascript %}


	{% schema %}
	{
		"name": "Science Testing Tab",
		"tag": "section",
			"blocks": [
				{
					"type": "chemical",
					"name": "Chemical",
					"settings": [
					{
						"id": "chemical_name",
						"type": "text",
						"label": "Chemical Name"
					},
						{
							"id": "chemical_formula",
							"type": "image_picker",
							"label": "Chemical Formula"
						},
						{
							"id": "chemical_structure",
							"type": "image_picker",
							"label": "Chemical Structure"
						},
						{
							"id": "odor",
							"type": "text",
							"label": "Odor"
						},
						{
							"id": "appearance",
							"type": "text",
							"label": "Appearance"
						},
						{
							"id": "found_in",
							"type": "textarea",
							"label": "Found In"
						},
						{
							"id": "how_it_harm",
							"type": "textarea",
							"label": "How does it harm the body?"
						},
						{
							"id": "effects_of_exposure",
							"type": "textarea",
							"label": "Effects of exposure"
						}
					]
				}
			],"presets": [
			{
			"name": "Science Testing Tab"
			}
			]
		}
		
	{% endschema %}