{{ 'section-about-partner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 750px){
    .section-{{ section.id }}-padding {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }

  {%- if section.settings.page_name == "group_buy" -%}
  .about-partner{
    background-color: #EAE4DF !important;
  }
  .about-partner__heading {
    margin-bottom: 5rem;
  }
  .about-partner__heading h2{
    font-family: 'RecklessNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.03em;
  }
  @media screen and (max-width: 750px){
    .about-partner__heading {
    margin-bottom: 3rem;
    }
    .about-partner__heading h2{
      font-size: 18px ;
    }
    .group_buy{
    padding-bottom: 5rem !important;
    }
  }
  {%- endif -%}
{%- endstyle -%}


 
<section class="about-partner isolate section-{{ section.id }}-padding section section-primary section-wrapper">
  <div class="grid--gapless grid--1-col grid--2-col-tablet about-partner__padding page-width group_buy">
    <div class="about-partner__heading gush-font-h3">
      <h2><a href="{{ section.settings.url }}" class="full-unstyled-link">{{ section.settings.heading }}</a></h2>
    </div>
    <div class="about-partner__logos">

     {%- if section.settings.page_name != "group_buy" -%}
      <a href="{{ section.settings.img1_url }}">
        <div class="about-partner__logos-img">
        {{ section.settings.image1 | image_url: width: 400 | image_tag:
          loading: 'lazy',
          width: section.settings.image1.width,
          alt: section.settings.image1.alt | escape
        }}
      </div>
      </a>
      <a href="{{ section.settings.img2_url }}">
      <div class="about-partner__logos-img">
        {{ section.settings.image2 | image_url: width: 400 | image_tag:
          loading: 'lazy',
          width: section.settings.image2.width,
          alt: section.settings.image2.alt | escape
        }}
      </div>
      </a>
      <a href="{{ section.settings.img3_url }}">
      <div class="about-partner__logos-img">
        {{ section.settings.image3 | image_url: width: 400 | image_tag:
          loading: 'lazy',
          width: section.settings.image3.width,
          alt: section.settings.image3.alt | escape
        }}
      </div>
      </a>
     {%- endif -%}

    </div>
    <div class="group_buy_brand_img_container">
      {% for block in section.blocks  %} 
          <div class="about-partner__logos-img">
            <a href="{{ block.settings.url }}">
              {%- comment -%} {{ block.settings.brand_img | img_url: '450x450', crop: 'center', scale: 2, format: 'pjpg' | img_tag }} {%- endcomment -%}
              <img src="{{ block.settings.brand_img | image_url: width: block.settings.brand_img.width  }}" alt="logo">

            </a>
          </div>
      {% endfor %}
      </div>
  </div>
</section>

{% schema %}
{
 "name": "t:sections.about-partner.name",
"class": "section section-about-partner",
"settings": [
{
  "type": "text",
  "id": "heading",
  "label": "t:sections.about-partner.settings.heading.label"
},
{
  "type":"url",
  "id": "url",
  "label":"Url"
},
{
  "type": "image_picker",
  "id": "image1",
  "label": "t:sections.about-partner.settings.image.label"
},
{
  "type":"url",
  "id": "img1_url",
  "label":"Image 1 url"
},
{
  "type": "image_picker",
  "id": "image2",
  "label": "t:sections.about-partner.settings.image.label"
},
{
  "type":"url",
  "id": "img2_url",
  "label":"Image 2 url"
},
{
  "type": "image_picker",
  "id": "image3",
  "label": "t:sections.about-partner.settings.image.label"
},
{
  "type":"url",
  "id": "img3_url",
  "label":"Image 3 url"
},
{
  "type": "range",
  "id": "padding_top",
  "min": 0,
  "max": 140,
  "step": 4,
  "unit": "px",
  "label": "t:sections.all.padding.padding_top",
  "default": 36
},
{
  "type": "range",
  "id": "padding_bottom",
  "min": 0,
  "max": 140,
  "step": 4,
  "unit": "px",
  "label": "t:sections.all.padding.padding_bottom",
  "default": 36
},
{
  "type":"select",
  "id":"page_name",
  "label":"Page name",
  "options":[
    {
      "value":"home",
      "label":"Home"
    },
    {
      "value":"group_buy",
      "label":"Group buy"
    }
  ]
}
],
"blocks":[
  {
    "type":"image",
    "name":"image",
    "settings":[
      {
        "type":"image_picker",
        "id":"brand_img",
        "label":"Image"
      },
      {
        "type":"url",
        "id": "url",
        "label":"URL"
      }
    ]
  }
],
"presets": [
    {
      "name": "t:sections.about-partner.presets.name"
    }
  ]
}
{% endschema %}