<link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
{{ 'section-testimonials-gush.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<style>
    .swiper {
    width: 85%;
    height: 100%;
  }

  .testimonial-slider__main .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  

  .testimonial-slider__main .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev:after, .swiper-button-next:after{
    content: "";
  }
  .swiper-button-next, .swiper-button-prev{
      width:auto;
      position: absolute;
    top: 50%;
  }
  .swiper-button-prev svg.icon.icon-arrow-left-slide {
      position: absolute;
      left: 0;
      width: 30px;
      height: 30px;
    }
    .swiper-button-next svg.icon.icon-arrow-right-slide {
        position: absolute;
        right: 0;
        width: 30px;
        height: 30px;
      }
      .swiper-button-next, .swiper-rtl .swiper-button-prev{
        right: -2%;
        left: auto;
      }
      .swiper-button-prev, .swiper-rtl .swiper-button-next{
        left: -2%;
        right: auto;
      }
      
    .testimonial-slider__main {
      width: 100%;
      position: relative;
      margin: auto;
    }
    .swiper-slide__card h3{
        font-size: 24px;
    }
    .swiper-slide__card p{
        font-size: 16px;
    }
    .swiper-slide__card {
      padding: 12%; 
      border-radius: 5px;
      border: 1px solid #FFC900;
    }
    /* .testimonials-gush__review {display: flex;justify-content: space-around;} */

.testimonials-gush__tabs {display: flex;justify-content: center;margin: 0 0 25px;}

.testimonials-gush__tabs p {
  padding: 0 10px;
  font-size: 24px;
  font-family: 'GT America';
  font-style: normal;
  color: #B6AC9E;
}
p.client-name {font-size: 24px;margin-top: 8%;margin-bottom: 3%;}
.testimonials-gush__heading {text-align: center;}
.leave-review {text-align: center;margin-top: 6%;}
.leave-review a {
  text-decoration: none;
  color: #302112;
  font-family: 'GT America';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
.testimonials-gush__heading h2 {font-size: 5rem;margin: 5% 0 2% 0;}
.testimonial-slider__main .swiper-slide.swiper-slide-next {
  width: 100%;
}

</style>

<section class="testimonials-gush section-{{ section.id }}-padding section">
  <div class="testimonials-gush__mainSection page-width ">
   <div class="testimonials-gush__head">
  <div class="testimonials-gush__review">
        <p>{{section.settings.review_heading}}</p>
        <h2>{{section.settings.review_num}}</h2>
    </div>
    <div class="testimonials-gush__rating">
        <p>{{section.settings.review_count}}</p>
        <p class="star">
          {% for i in (1..5) %}
          {% render 'review-star'%}
          {% endfor %}
        </p>
       
    </div>
  </div>
  <div class="testimonials-gush__tabSection">
    <div class="testimonials-gush__tabs">
        {% for collection in collections %}
               <p class="collection-titles" data-content-id="review-{{ forloop.index }}">{{ collection.title }}</p>
        {% endfor %}
    </div>
    <div class="testimonial-slider__main">
        
          <!-- Swiper -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {%- for block in section.blocks -%}
                        <div class="swiper-slide">
                            <div class="swiper-slide__card">
                                <h3>{{block.settings.heading}}</h3>
                                <span>{% for i in (1..5) %}
                                  {% render 'review-star'%}
                                  {% endfor %}</span>
                                <p>{{block.settings.content}}</p>
                                <p class="client-name">{{block.settings.name}}</p>
                            </div>
                        </div>
                    {%- endfor -%}
                
                </div>
                
            </div>
            <div class="swiper-button-next">{% render 'icon-arrow-right-gushi' %}</div>
        <div class="swiper-button-prev">{% render 'icon-arrow-left-gushi' %}</div>
    </div>
    <div class="leave-review"><a href="#">Leave a review</a></div>
  </div>
</div>
</section>

<script>
   
</script>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>

    var swiper = new Swiper(".mySwiper", {
       slidesPerView: 3,
       spaceBetween: 30,
       slidesPerGroup: 3,
       loop: false,
       loopFillGroupWithBlank: true,
       autoplay: {
         delay: 2500,
         loop: true,
       },
       pagination: {
         el: ".swiper-pagination",
         clickable: true,
       },
       navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev",
       },
     });
</script>
{% schema %}
{
   "name": "testi",
   "settings":[
    {
     "type": "text",
     "id": "review_heading",
     "label": "Please Write review counts heading"
    },
    {
      "type": "text",
      "id": "review_num",
      "label": "Please Write review Numbers"
     },
     {
       "type": "text",
       "id": "review_count",
       "label": "Please Write review counts Numbers"
      },
      {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 36
        }
   ],
   "blocks": [
     {
        "type": "text",
       "name": "Slide",
      "settings": [
          {
             "type": "text",
             "id": "heading",
             "label": "Heading"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Content"
         },
         {
           "type": "text",
           "id": "name",
           "label": "client name"
        }
      ]
     }
  ],
  
  "presets": [
  {
    "name": "testi"
  }
]
}
{% endschema %}