<style>
	.true-wellness {
		/*background-color: #796E62;*/
		position: relative;
		z-index: 1;
	}

	.true-wellness .content {
		padding: 35rem 32rem;
		position: relative;
		overflow: hidden;
	}

	.true-wellness h2, .true-wellness p {
		margin: 0;
		padding: 0;
		color: #fff;
	}

	.true-wellness h2 {
		max-width: 700px;
		margin-bottom: 16px;
	}

	.true-wellness p {
		max-width: 480px;
	}

	.true-wellness img{
		width: 320px;
		height: 320px;
		border-radius: 50%;
		object-fit: cover;
		
	}

	.true-wellness .image_1, .true-wellness .image_2, .true-wellness .image_3 {
		position: absolute;
	}

	.true-wellness .image_1{
		top: 4px;
		right: 0px;
	}
	.true-wellness .image_2{
		top: 100px;
		left: -20px;
	}

	.true-wellness .image_3{
		bottom: -35px;
		right: 80px;
	}
	@media screen and (max-width: 1100px) {
		.true-wellness img{
		width: 200px;
		height: 200px;
		object-fit: cover;
	}
	.true-wellness .content {
		padding: 27rem 24rem;
		position: relative;
		overflow: hidden;
	}
	}
	@media screen and (max-width: 850px) {
		.true-wellness .content {
		padding: 20rem 10rem 20rem 2.5rem !important;
		position: relative;
	}
	.true-wellness h2 {
		max-width: 75% !important;
	}
	.true-wellness p {
		max-width: 85% !important;
	}

	.true-wellness img{
		width: 160px;
		height: 160px;
		border-radius: 50%;
		object-fit: cover;
	}
	.true-wellness .image_1{
		top: -20px;
		left: -60px;
	}
	.true-wellness .image_2{
		margin-left: 80%;
		top: 170px;
		scale: .7;
	}

	.true-wellness .image_3{
		bottom: -15px;
		left: -40px;
	}
	}
</style>

<div class="true-wellness">
	<div class="content page-width">
		<h2 class="gush-font-h1">{{ section.settings.title }}</h2>
		<p class="gush-font-p1">{{ section.settings.description }}</p>
		<div class="image_1">
			{{ section.settings.image2 | image_url: width: 1280 | image_tag }}
		</div>
		<div class="image_2">
			{{ section.settings.image1 | image_url: width: 1280 | image_tag }}
		</div>
		<div class="image_3">
			{{ section.settings.image3 | image_url: width: 1280 | image_tag }}
		</div>
	</div>
</div>


	{% schema %}
	{
		"name": "True Wellness",
		"tag": "section",
		"settings": [
		{
		"type": "text",
		"id": "title",
		"label": "Title"
		},
		{
			"type": "textarea",
			"id": "description",
			"label": "Description"
			},
			{
				"type": "image_picker",
				"id": "image1",
				"label": "Image 1"
			},
			{
				"type": "image_picker",
				"id": "image2",
				"label": "Image 2"
			},
			{
				"type": "image_picker",
				"id": "image3",
				"label": "Image 3"
			}
		],
		"presets": [
		{
		"name": "True Wellness"
		}
		]
		}
	{% endschema %}